
@{
    ViewBag.Title = "Distribuidora Limeña - Líderes en productos latinos";
}

<div class="header aboutus">
    <h1 class="h1-subpage-title white">Distribuidora Limeña</h1>
</div>
<div class="quienes-somos">
    <div class="quienes-somos-content">
        <div>
            <h3 class="h3-section-title text-left-a">¿Quiénes somos?</h3>
            <p class="paragraph">Distribuidora Limeñan es una empresa que busca <strong><em>conectar culturas</em></strong>, acercando a cientos de miles de latinos con su tierra a través de la venta de productos alimenticios nostálgicos. Somos una empresa especializada en la distribución y comercialización de alimentos y servicios enfocada en el <strong><em>mercado latino independiente en el sureste de EE.UU.</em></strong><br><br>Cuando Limeña comienza operaciones siguiendo el sueño de sus fundadores, da un giro completo al mercado, <strong><em>formalizando y estableciendo un mercado</em></strong> donde anteriormente todo giraba en torno a viajeros particulares informales.<br><br>De esta manera Limeña a logrado crecer considerablemente, <strong><em>brindando oportunidades</em></strong> de crecimiento y empleo al pueblo latino en EE.UU., brindando un espacio donde las personas pueden <strong><em>crecer y superarse.</em></strong></p>
        </div>
    </div>
</div>
<div class="misionvision">
    <div class="myv-content">
        <img src="~/Content/landingpage/images/About-MisionSVG.svg" class="myv-icon">
        <h3 class="myv-titulo">Misión</h3>
        <div class="myv-text">Ser la compañía líder en la comercialización de productos y servicios en la industria de comida étnica, principalmente en el sureste de EE.UU.</div>
    </div>
    <div class="myv-content">
        <img src="~/Content/landingpage/images/About-VisionSVG.svg" class="myv-icon">
        <h3 class="myv-titulo">Visión</h3>
        <div class="myv-text">Buscar siempre las mejores prácticas que garanticen un servicio excepcional para cada uno de nuestros clientes.</div>
    </div>
</div>
<div class="valores">
    <h3 class="h3-section-title">Nuestro ADN</h3>
    <div class="razones">
        <div class="valor">
            <img src="~/Content/landingpage/images/About-ClientSVG.svg" class="icono-valor">
            <h6 class="valor-titulo">Atención al cliente</h6>
        </div>
        <div class="valor">
            <img src="~/Content/landingpage/images/About-ImprovementSVG.svg" class="icono-valor">
            <h6 class="valor-titulo">Mejora Continua</h6>
        </div>
        <div class="valor">
            <img src="~/Content/landingpage/images/About-InnovationSVG.svg" class="icono-valor">
            <h6 class="valor-titulo">Innovación</h6>
        </div>
        <div class="valor">
            <img src="~/Content/landingpage/images/About-TechSVG.svg" class="icono-valor">
            <h6 class="valor-titulo">Tecnología</h6>
        </div>
    </div>
</div>
<div class="partners">
    <h3 class="h3-section-title aliados-title-mobile">Aliados estratégicos</h3><a href="https://comerciamarketing.com/" target="_blank"><img src="~/Content/landingpage/images/Logo-Comercia-Marketing.png" width="300" srcset="/Content/landingpage/images/Logo-Comercia-Marketing-p-500.png 500w, /Content/landingpage/images/Logo-Comercia-Marketing-p-800.png 800w, /Content/landingpage/images/Logo-Comercia-Marketing-p-1080.png 1080w, images/Logo-Comercia-Marketing-p-1600.png 1600w, images/Logo-Comercia-Marketing.png 2000w" sizes="(max-width: 479px) 90vw, (max-width: 767px) 50vw, (max-width: 991px) 35vw, 300px" class="logo-partners"></a>
</div>
