
@{
    ViewBag.Title = "Distribuidora Limeña - Líderes en productos latinos";
}

<div class="maincontent-clientes">
    <div class="header">
        <h1 class="h1-subpage-title white">Nuestros clientes</h1>
    </div>
    <div class="clients-container">
        <div class="marcas-clientes"><img src="~/Content/landingpage/images/Logo-Diana.png" width="200" class="cliente"><img src="~/Content/landingpage/images/logo-bocadeli.png" width="200" class="cliente">
        <img src="~/Content/landingpage/images/goya-logo.png" width="200" srcset="/Content/landingpage/images/goya-logo-p-500x190.png 500w, /Content/landingpage/images/goya-logo.png 1024w" sizes="(max-width: 479px) 100px, 150px" class="cliente">
        <img src="~/Content/landingpage/images/logo-ducal.png" width="200" srcset="/Content/landingpage/images/logo-ducal-p-500x387.png 500w, /Content/landingpage/images/logo-ducal-p-800x619.png 800w, /Content/landingpage/images/logo-ducal-p-1080x835.png 1080w, /Content/landingpage/images/logo-ducal-p-1600x1237.png 1600w, /Content/landingpage/images/logo-ducal-p-2000x1546.png 2000w, /Content/landingpage/images/logo-ducal-p-2600x2010.png 2600w, /Content/landingpage/images/logo-ducal-p-3200x2473.png 3200w, /Content/landingpage/images/logo-ducal.png 3300w" sizes="(max-width: 479px) 100px, 150px" class="cliente">
        <img src="~/Content/landingpage/images/logo-naturas.png" width="200" srcset="/Content/landingpage/images/logo-naturas-p-500x219.png 500w, /Content/landingpage/images/logo-naturas-p-800x350.png 800w, /Content/landingpage/images/logo-naturas-p-1080x473.png 1080w, /Content/landingpage/images/logo-naturas-p-1600x700.png 1600w, /Content/landingpage/images/logo-naturas-p-2000x875.png 2000w, /Content/landingpage/images/logo-naturas.png 2551w" sizes="(max-width: 479px) 100px, 150px" class="cliente"><img src="~/Content/landingpage/images/logo-el-viajero.png" width="200" class="cliente">
        <img src="~/Content/landingpage/images/Logo-Bauducco.jpg" width="200" srcset="/Content/landingpage/images/Logo-Bauducco-p-1080.jpeg 1080w, /Content/landingpage/images/Logo-Bauducco-p-1600.jpeg 1600w, /Content/landingpage/images/Logo-Bauducco-p-2000.jpeg 2000w, /Content/landingpage/images/Logo-Bauducco-p-2600.jpeg 2600w, /Content/landingpage/images/Logo-Bauducco-p-3200.jpeg 3200w, /Content/landingpage/images/Logo-Bauducco.jpg 6045w" sizes="(max-width: 479px) 100px, 150px" class="cliente">
        <img src="~/Content/landingpage/images/Logo-Campero.jpg" width="200" srcset="/Content/landingpage/images/Logo-Campero-p-800.jpeg 800w, /Content/landingpage/images/Logo-Campero.jpg 1024w" sizes="(max-width: 479px) 100px, 150px" class="cliente">
        <img src="~/Content/landingpage/images/Logo-Cremimex.jpg" width="200" class="cliente"><img src="~/Content/landingpage/images/Logo-Cuetara.jpg" width="200" srcset="/Content/landingpage/images/Logo-Cuetara-p-500.jpeg 500w, /Content/landingpage/images/Logo-Cuetara-p-800.jpeg 800w, /Content/landingpage/images/Logo-Cuetara.jpg 1006w" sizes="(max-width: 479px) 100px, 150px" class="cliente">
        <img src="~/Content/landingpage/images/Logo-De-Mi-Pais.jpg" width="200" srcset="/Content/landingpage/images/Logo-De-Mi-Pais-p-500.jpeg 500w, images/Logo-De-Mi-Pais-p-800.jpeg 800w, /Content/landingpage/images/Logo-De-Mi-Pais-p-1080.jpeg 1080w, images/Logo-De-Mi-Pais.jpg 1534w" sizes="(max-width: 479px) 100px, 150px" class="cliente">
        <img src="~/Content/landingpage/images/Logo-Del-Frutal.JPG" width="200" class="cliente"><img src="~/Content/landingpage/images/Logo-Ina.jpg" width="200" class="cliente"><img src="~/Content/landingpage/images/logo-racor.JPG" width="200" srcset="/Content/landingpage/images/logo-racor-p-800.jpeg 800w, /Content/landingpage/images/logo-racor-p-1080.jpeg 1080w, /Content/landingpage/images/logo-racor-p-1600.jpeg 1600w, /Content/landingpage/images/logo-racor-p-2000.jpeg 2000w, /Content/landingpage/images/logo-racor.JPG 2550w" sizes="(max-width: 479px) 100px, 150px" class="cliente">
        <img src="~/Content/landingpage/images/fud.png" width="200" sizes="(max-width: 479px) 100px, 150px" class="cliente"><img src="~/Content/landingpage/images/Verde-Valle.jpg" width="200" sizes="(max-width: 479px) 100px, 150px" class="cliente"><img src="~/Content/landingpage/images/playero.png" width="200" sizes="(max-width: 479px) 100px, 150px" class="cliente"><img src="~/Content/landingpage/images/LOGO%20VIAJERO.jpg" width="200" sizes="(max-width: 479px) 100px, 150px" class="cliente">
        <img src="~/Content/landingpage/images/la-chona.png" width="200" sizes="(max-width: 479px) 100px, 150px" class="cliente"><img src="~/Content/landingpage/images/La%20Ricura%20Logo.jpg" width="200" sizes="(max-width: 479px) 100px, 150px" class="cliente"><img src="~/Content/landingpage/images/biosalud.png" width="200" sizes="(max-width: 479px) 100px, 150px" class="cliente">
        <img src="~/Content/landingpage/images/logo_ricolino.png" width="200" sizes="(max-width: 479px) 100px, 150px" class="cliente"><img src="~/Content/landingpage/images/logo_vero.png" width="200" sizes="(max-width: 479px) 100px, 150px" class="cliente"><img src="~/Content/landingpage/images/logo-la-morenita2x.png" width="200" sizes="(max-width: 479px) 100px, 150px" class="cliente"><img src="~/Content/landingpage/images/salvavidas.png" width="200" sizes="(max-width: 479px) 100px, 150px" class="cliente">
        <img src="~/Content/landingpage/images/Logo-Señorial.png" width="200" class="cliente"><img src="~/Content/landingpage/images/Nuevo%20Logos%20Zambos.jpg" width="200" class="cliente"></div>
        <div class="testimonials">
            <h3 class="h3-section-title">¿Qué dicen nuestros clientes?</h3>
            <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-2 w-slider">
                <div class="w-slider-mask">
                    <div class="w-slide">
                        <div class="slide-container">
                            <img src="~/Content/landingpage/images/Logo-BarS.png" width="200" height="200" class="image-2 bars">
                            <div class="testimonial-textblock">Siempre estamos buscando hacer Sociedades o Sinergias Comerciales con empresas que compartan nuestros Valores y Misión. Limeña es una empresa con Visión clara de <strong><em>Servicio, Innovación, Compromiso y Profesionalismo.</em></strong> Un equipo de trabajo muy positivo, profesional, amable y divertido. Estoy convencido de que Limena es una empresa que estará en el Mercado Hispano por mucho tiempo”.<br><br><em><strong>- José Carlos Aispuro, Divisional VP Sales DSD</strong></em></div>
                        </div>
                    </div>
                    <div class="w-slide">
                        <div class="slide-container">
                            <img src="~/Content/landingpage/images/Logo-mahler.jpg" height="150" srcset="/Content/landingpage/images/Logo-mahler-p-500.jpeg 500w, /Content/landingpage/images/Logo-mahler-p-800.jpeg 800w, /Content/landingpage/images/Logo-mahler.jpg 829w" sizes="(max-width: 479px) 80vw, 263.453125px" class="image-2 malher">
                            <div class="testimonial-textblock">&quot;Relación comercial basada <strong><em>confianza y gran apoyo profesional</em></strong>, coincidimos valores y compromisos con nuestros consumidores. Gran dinamismo, mejora continua, números record en ventas y cobertura. Resalto creatividad y proactividad del equipo. Gran Liderazgo, experiencia y visión.<br><br><em><strong>- Lic. Henry Molina, Gerente Comercial Malher USA</strong></em></div>
                        </div>
                    </div>
                    <div class="w-slide">
                        <div class="slide-container">
                            <img src="~/Content/landingpage/images/Logo-Klass.png" height="150" srcset="/Content/landingpage/images/Logo-Klass-p-500.png 500w, /Content/landingpage/images/Logo-Klass-p-800.png 800w, /Content/landingpage/images/Logo-Klass-p-1080.png 1080w, images/Logo-Klass-p-1600.png 1600w, images/Logo-Klass-p-2000.png 2000w, images/Logo-Klass-p-2600.png 2600w, images/Logo-Klass.png 3055w" sizes="(max-width: 479px) 80vw, 213.0390625px" class="image-2">
                            <div class="testimonial-textblock">&quot;En Distribuidora Limeña hemos encontrado un socio comercial que se preocupa por el <strong><em>desarrollo de las marcas que representa</em></strong>, con <strong><em>estrategias sólidas que marcan la diferencia</em></strong> en el mercado.<br><br>En KLASS contar con un distribuidor como Limeña que ofrece servicios integrales nos ha significado <strong><em>tener nuestros productos al alcance de todos nuestros consumidores</em></strong>&quot;</div>
                        </div>
                    </div>
                </div>
                <div class="mobile-arrow right-test-arrow w-slider-arrow-left">
                    <div class="w-icon-slider-left"></div>
                </div>
                <div class="mobile-arrow left-test-arrow w-slider-arrow-right">
                    <div class="w-icon-slider-right"></div>
                </div>
                <div class="slide-dots w-slider-nav w-slider-nav-invert w-round"></div>
            </div>
        </div>
    </div>
</div>
