
@{
    Layout = null;
    ViewBag.Title = "Distribuidora Limeña - Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Distribuidora Limeña - Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/appcontent/assets/img/ico.png" />
    <!--===============================================================================================-->
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="~/Content/login/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel="stylesheet" href="~/Content/login/css/stylespinner.css">
    <!--===============================================================================================-->
</head>
<body class="horizontal-menu-2">
    <div id="loader" class="vertical-centered-box">
        <div class="content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask one">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-mask two">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-mask three">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-mask four">
                <div class="loader-line"></div>
            </div>
        </div>
    </div>

    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper auth p-0 theme-two">

                <div class="row d-flex align-items-stretch">
                    <div class="col-md-4 banner-section d-none d-md-flex align-items-stretch justify-content-center">
                        <div class="slide-content bg-1">
                        </div>
                    </div>
                    <div class="col-12 col-md-8 h-100 bg-white">
                        <div class="auto-form-wrapper d-flex align-items-center justify-content-center flex-column">
                            <div class="nav-get-started">
                                <img src="~/Content/landingpage/images/LogoLimenaWebIcono_1-p-500x192.png" height="80" width="230">
                            </div>
                            @using (Html.BeginForm("Log_in", "Home", FormMethod.Post, new { id = "myform" }))
                            {

                                <h3 class="mr-auto">Welcome!</h3>
                                <p class="mb-5 mr-auto">Enter your details below.</p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="mdi mdi-account-outline"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Email" name="email" id="email" required autofocus>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="mdi mdi-lock-outline"></i></span>
                                        </div>
                                        <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
                                        <input type="text" id="date" name="date" hidden/>
                                    </div>
                                    <div class="input-groupp clearfix">
                                        <a href="@Url.Action("Reset_password", "Home")" class="float-left forgot-link my-2 text-muted text-small text-right">Forgot Password ?</a>

                                    </div>
                                </div>
                                @*<div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" name="ahahahahstayinalive" id="ahahahahstayinalive">
                                            Keep me logged in
                                        </label>
                                    </div>*@
                                <div class="form-group">
                                    <button class="btn btn-dark submit-btn">LOG IN</button>
                                </div>
                                <div class="wrapper mt-5 text-gray">
                                    <p class="footer-text">Copyright © 2018 Distribuidora Limena. All rights reserved.</p>
                                    <ul class="auth-footer text-gray">
                                        <!--
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#">Cookie Policy</a></li>
                                            -->
                                    </ul>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>

            <!-- content-wrapper ends -->
        </div>
    </div>
    <!-- page-body-wrapper ends -->

    <script src="~/Content/appcontent/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/appcontent/assets/vendor/jquery-ui/jquery-ui.min.js"></script>

    <script>
        $("#myform").submit(function (e) {
            var now = new Date();
            $("#date").val(now.toLocaleString("en-US", { hour12: true }));
            document.getElementById("loader").style.display = "block";
       
            return true;
 
        });
    </script>

</body>
</html>