
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Distribuidora Limeña - Login";
}



<div class="main-container">
    <section class="imageblock switchable feature-large height-100">
        <div class="imageblock__content col-lg-6 col-md-4 pos-right">
            <div class="background-image-holder">
                <img alt="image" src="~/Content/assets_login/img/landing-5.jpg" />
            </div>
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-lg-5 col-md-7">
                    <img alt="image" src="~/Content/landingpage/images/LogoLimenaWebIcono.png" style="width:30%" />
                    <h2>Welcome back!</h2>

                    @using (Html.BeginForm("Log_in", "Home", FormMethod.Post, new { id = "myform" }))
    {



                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="mdi mdi-account-outline"></i></span>
                        </div>
                        <input type="text" class="form-control" value="@ViewBag.correo" placeholder="Email" name="email" id="email" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="mdi mdi-lock-outline"></i></span>
                        </div>
                        <input type="password" value="@ViewBag.pass" class="form-control" placeholder="Password" name="password" id="password" required>
                        <input type="text" id="date" name="date" hidden />
                    </div>
                    <div class="input-groupp clearfix">

                        <span class="type--fine-print">
                            Forgot Password?
                            <a href="@Url.Action("Reset_password", "Home")"> Click here</a>
                        </span>



                    </div>
                </div>
                <div class="form-check form-check-flat mt-0" style="display:none;">
                    <div class="pretty p-default">

                        @Html.CheckBox("rememberme", (bool)ViewBag.remember)
                        <div class="state p-primary">
                            <label class="">Remember me</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn--primary type--uppercase" type="submit">Log in</button>
                </div>
                <div class="wrapper mt-5 text-gray">
                    <span class="type--fine-print">
                        Copyright © 2018 Distribuidora Limena. All rights reserved.
                        <a href="https://www.limenainc.net/"> Go Home</a>
                    </span>

                </div>
}
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>
<!--<div class="loader"></div>-->
<!--===============================================================================================-->
<!--NOTIFICACIONES GLOBALES-->

