
@{
    ViewBag.Title = "Distribuidora Limeña - Líderes en productos latinos";
}

<div class="maincontent-services">
    <div class="header">
        <h1 class="h1-subpage-title">Nuestros servicios</h1>
        <div class="services-content">
            <div class="servicio b">
                <img src="~/Content/landingpage/images/Almacenaje.svg" width="100" class="icono-servicios">
                <h2 class="h2-titulo-servicio">Almacenaje</h2>
                <p class="service-p">Contamos con un sistema de control de inventario según el origen del producto junto a una bodega ubicada en Nashville para almacenar tus productos en el ambiente ideal, ya sea seco, refrigerado o congelado.</p>
            </div>
            <div class="servicio b">
                <img src="~/Content/landingpage/images/Distribucion.svg" width="100" class="icono-servicios camion">
                <h2 class="h2-titulo-servicio">Distribución</h2>
                <p class="service-p">Nuestra flota propia cuenta con una cobertura de 7 estados en el sureste de Estados Unidos y está equipada con refrigeración y rampas hidráulicas para hacer entregas en cualquier condición. <br><br>Además, contamos con una flota de terceros que brinda cobertura a nivel nacional.</p>
            </div>
            <div class="servicio b">
                <img src="~/Content/landingpage/images/3pl.svg" width="100" class="icono-servicios">
                <h2 class="h2-titulo-servicio">3PL</h2>
                <p class="service-p">Con nosotros encontrarás también todos los servicios complementarios a través de outsourcing de capacidad de almacenaje y entregas; manejo de inventarios y almacenaje; entrega y facturación</p>
            </div>
            <div class="servicio b">
                <img src="~/Content/landingpage/images/Logo-Outline.png" width="90" class="icono-servicios comercia">
                <h2 class="h2-titulo-servicio">Comercial</h2>
                <p class="service-p">Servicios de mercadeo y publicidad POP a través de nuestra compañía hermana Comercia Marketing: Merchandising, campañas en punto de venta; diseño e impresión de material POP, programa de demos en punto de venta y estudios de mercado.</p>
            </div>
        </div>
    </div>
    <div class="why-us">
        <h3 class="h3-section-title">¿Por qué nosotros?</h3>
        <div class="razones">
            <div class="razon">
                <img src="~/Content/landingpage/images/WhyUs-TeamSVG.svg" class="icono-razon">
                <div class="razones-texto">
                    <h4 class="razon-titulo">Equipo</h4>
                    <div class="service-p">Distribuidora Limeña está conformada por un equipo de colaboradores alta mente competitivo.</div>
                </div>
            </div>
            <div class="razon">
                <img src="~/Content/landingpage/images/WhyUs-MissionSVG.svg" class="icono-razon">
                <div class="razones-texto">
                    <h4 class="razon-titulo">Misión</h4>
                    <div class="service-p">Nuestro motivo de negocio está basado en servir de la mejor manera a nuestros socios.</div>
                </div>
            </div>
            <div class="razon">
                <img src="~/Content/landingpage/images/WhyUs-AdaptSVG.svg" class="icono-razon">
                <div class="razones-texto">
                    <h4 class="razon-titulo">Adaptabilidad</h4>
                    <div class="service-p">Constante adaptación a las necesidades del mercado, siempre en la búsqueda de mejores prácticas.</div>
                </div>
            </div>
            <div class="razon">
                <img src="~/Content/landingpage/images/WhyUs-InnovationSVG.svg" class="icono-razon">
                <div class="razones-texto">
                    <h4 class="razon-titulo">Innovación</h4>
                    <div class="service-p">Vemos en la tecnología un aliado para poder servir en una mejor forma a nuestros clientes.</div>
                </div>
            </div>
            <div class="razon">
                <img src="~/Content/landingpage/images/WhyUs-ExperienceSVG.svg" class="icono-razon">
                <div class="razones-texto">
                    <h4 class="razon-titulo">Experiencia</h4>
                    <div class="service-p">Con más de 12 años de experiencia en el rubro, especializados en el mercado latino independiente</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cobertura">
        <h3 class="h3-section-title">Cobertura</h3>
        <div class="cobertura-content">
            <div class="div-block-4">
                <div class="cobertura-block-title">Flota propia</div>
                <ul class="w-list-unstyled">
                    <li>Indiana</li>
                    <li>Ohio</li>
                    <li>Kentucky</li>
                    <li>Tennessee</li>
                    <li>Missouri</li>
                    <li>Alabama</li>
                    <li>Mississippi</li>
                </ul>
            </div><img src="~/Content/landingpage/images/Mapa-Blanco-y-Verde.svg" width="470" height="280" class="mapa-cobertura">
            <div class="div-block-4-desktop">
                <div class="cobertura-block-title">Flota terceros</div>
                <div>Cobertura nacional</div>
            </div>
        </div>
    </div>
</div>