@{
    ViewBag.Title = "Distribuidora Limeña - Edit Purchase Data";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="page__header">
    <div class="container-fluid page__heading-container">
        <div class="page__heading d-flex align-items-center">
            <div class="flex">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Purchases</a></li>
                        <li class="breadcrumb-item active" aria-current="page">OTB</li>
                    </ol>
                </nav>
                <h1 class="m-0">OTB</h1>
            </div>

        </div>
    </div>
</div> <!-- // END page__header -->
<!--Page Header menu-->
@Html.Partial("~/Views/Shared/New_design/Menus/Purchases.cshtml")
<!-- Page Header -->
<div class="container-fluid page__heading-container">
    <div class="page__heading d-flex align-items-center">
        <div class="flex">


        </div>
        <div>
            <a href="#" class="btn btn-outline-success" onclick="savePurchaseData()">Save all changes <i class="material-icons ml-2">check</i></a>



        </div>
    </div>
</div>
<div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                 
                        <div class="card-body pt-3 pb-4" style="font-size:12px;line-height:1.5;">
                            <div class="table-responsive">
                                <table id="data_tableEditor2" class="table-bordered" cellspacing="0">
                                    <thead>
                                        <tr>

                                            <th>#</th><!--GENERADO POR DATATABLE  0-->
                                            <!--MATRIZ COMPRA-->
                                            <th>CODIGO SAP</th> <!--PROD CODIGO-->
                                            <th>ITEM DESCRIPCION</th> <!--PROD NOMBRE-->
                                            <!--FIN MATRIZ COMPRA-->
                                            <!--MICRO CATALOGO-->
                                            <th style="background-color:darkseagreen">FACTOR DE COMPRA REGULAR</th>
                                            <th style="background-color:darkseagreen">FACTOR UNIDAD DE COMPRA</th>
                                            <th style="background-color:darkseagreen; display:none">FACTOR DE COMPRA QUIEBRE</th>
                                            <th style="background-color:darkseagreen;display:none;">POLITICA DE COBERTURA</th>
                                            <!--FIN MICRO CATALOGO-->
                                            <!--MATRIZ COMPRA-->
                                            <!--FILTROS-->
                                            <th hidden>MARCA</th>
                                            <th hidden>SUB CATEGORIA</th>
                                            <th hidden>CATEGORIA</th>

                                            <th>PROVEEDOR</th>
                                            <!--FIN FILTROS-->
                                            <th>UoM GROUP</th> <!--UNIDAD MEDIDA LETRAS-->
                                            <th>INVENTARIO (EACH)</th> <!--INVENTARIOEACH-->
                                            <th>INVENTARIO (EN CASES)</th> <!--INVENTARIOCAJAS-->
                                            <th>AVG 5 PERIODOS</th> <!--PROMEDIO-->
                                            <th>DESVIACION</th><!--DESVIACION-->
                                            <th>MAX 5 PERIODOS</th> <!--MAXIMO-->
                                            <th>MIN 5 PERIODOS</th> <!--MINIMO-->
                                            <th>PRONOSTICO PERIODO ACTUAL</th> <!--PRONOSTICOPERIODOACTUAL-->
                                            <th>B5</th> <!--NEW-->
                                            <th>B4</th> <!--NEW-->
                                            <th>B3</th> <!--NEW-->
                                            <th>B2</th> <!--NEW-->
                                            <th>B1</th> <!--NEW-->
                                            <th>AVG 5 PERIODOS POSTERIORES AA</th> <!--PROMEDIO_AA   24-->
                                            <th>PERIODO ANTERIOR</th> <!--VENTA B1-->
                                            <th>VARIACION</th>
                                            <th>TENDENCIA PERIODO ACTUAL</th> <!--TENDENCIAPERIODOACTUAL-->
                                            <th>PRONOSTICO PERIODO SIGUIENTE 1</th> <!--PRONOSTICOSIGUIENTE1-->
                                            <th>PRONOSTICO PERIODO SIGUIENTE 2</th><!--PRONOSTICOSIGUIENTE2-->
                                            <th>PRONOSTICO PERIODO SIGUIENTE 3</th><!--PRONOSTICOSIGUIENTE3 30-->
                                            <th>PRONOSTICO PERIODO SIGUIENTE 4</th><!--PRONOSTICOSIGUIENTE4-->
                                            <th>COBERTURA ACTUAL</th><!--COBERTURA ACTUAL-->
                                            <th>COBERTURA PROYECTADA</th><!--COBERTURAPROYECTADA-->
                                            <th>INVENTARIO PROYECTADO</th><!--COBERTURAPROYECTADA NUME-->
                                            <th>PRONOSTICO SEMANAL LEAD TIME</th><!--COBERTURAPROYECTADA DENO-->
                                            <th>OTB</th> <!--36-->
                                            <th>COBERTURA DE OTB</th> <!--COBERTURA OTB-->
                                            <th style="background-color:lightblue">ORDEN A COLOCAR</th> <!--38-->
                                            <th>DELIVERY DATE</th>
                                            <th>DOCUMENT DATE</th>

                                            <th>TIER</th> <!--U_TI-->
                                            <th>HEIGHT</th> <!--U_HI-->
                                            <th>CASES PER PALLET</th> <!--U_PALLETCOUNT-->
                                            <th>PALLETS DE ORDEN</th> <!--44-->
                                            <th>INVENTARIO AL INGRESO DE PO</th> <!--COBERTURAPROYECTADANUME(SOLO SE OCUPA PARA CALCULO PERO EL RESULTADO SE LLAMA INVENTARIO INGRESO PO)-->
                                            <th>COBERTURA AL INGRESO DE PO</th>
                                            <!--MICROCATALOGO  47-->
                                            <th style="background-color:darkseagreen">COSTO</th>
                                            <!--FIN MICROCATALOGO-->
                                            <th style="background-color:lightblue">DESCUENTO / ALLOWANCE (%)</th>
                                            <th style="background-color:lightblue">DESCUENTO / ALLOWANCE ($)</th>
                                            <th>COSTO CON DESCUENTO</th> <!--50-->
                                            <th>MONTO PO</th>
                                            <!--MICROCATALOGO : ESTE TIENE QUE CAMBIAR EN AMBOS, ES DECIR, SI CAMBIA EN LA MATRIZ, CAMBIA EN EL MICROCATALOGO   52-->
                                            <th style="background-color:darkseagreen">COMENTARIOS</th>
                                            <!--FIN MICROCATALOGO-->
                                            <!--COLUMNAS PARA FORMULAS(NO VISIBLES PERO SE DEBEN ALMACENAR-->
                                            <!-- <th hidden>Prop 1</th>COBERTURAPROYECTADADENO-->
                                            <th hidden>Prop 2</th> <!--VENTAF1-->
                                            <th hidden>Prop 3</th> <!--LEADTIME-->
                                            <!--<th hidden>Prop 4</th>NUME ORIGINAL-->
                                        </tr>
                                    </thead>
                                    <tfoot>
                                    </tfoot>
                                    <tbody id="maintbbo"></tbody>

                                </table>

                                <span class="badge badge-info form-pill px-3 py-1" style="background-color:aliceblue !important">&nbsp;&nbsp;</span> Right click to show information


                            </div>
                        </div>
             
              


                </div>
            </div>

            
</div>


            <menu id="html5menu" style="display:none" class="showcase">
                <table class="table tb_editor">
                    <thead>
                        <tr>
                            <th>TN</th>
                            <th>DOC DATE</th>
                            <th>D WEEK</th>
                            <th>DF WEEK</th>
                            <th>INVOICE NUM</th>
                            <th>UNITS (BOX)</th>
                            <th>DF</th>
                            <th>WC</th>
                        </tr>
                    </thead>
                    <tbody class="tbodyid"></tbody>
                </table>
            </menu>
