table.DTFC_Cloned thead,
table.DTFC_Cloned tfoot {
  background-color: white;

}

div.DTFC_Blocker {
  background-color: white;
}

div.DTFC_LeftWrapper table.dataTable,
div.DTFC_RightWrapper table.dataTable {

}
div.DTFC_LeftWrapper table.dataTable.no-footer,
div.DTFC_RightWrapper table.dataTable.no-footer {
  border-bottom: none;
}
.DTFC_LeftBodyWrapper {

background-color:white;
}
table.dataTable.no-footer {
    border-bottom: none !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none !important;
}