
@{
    ViewBag.Title = "Distribuidora Limeña - Home";
}

<!--main content wrapper-->
<div class="content-wrapper">

    <!--/creative states-->
    <div class="box-container">
        <div class="container-fluid">
            <!--sales statistical overview-->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-info">
                                <div class="custom-title">Quick Access</div>

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" id="quickAccess_salesreps" style="display:none;">
                                <div class="col-md-3 item">
                                    <a class="quickaccess" href="@Url.Action("Routes", "Commercial")">
                                        <img border="0" alt="Routes" src="~/Content/appcontent/assets/img/badge/1063141.png" width="100" height="100" class="itemqa">
                                        <span class="badge badge-info caption">Routes</span>
                                    </a>
                                </div>
                                <div class="col-md-3 item">
                                    <a class="quickaccess" href="@Url.Action("Reports_RC", "Reports")">
                                        <img border="0" alt="Daily Routes Summary" src="~/Content/appcontent/assets/img/badge/newspaper.png" width="100" height="100" class="itemqa">

                                        <span class="badge badge-info caption">Daily Routes Summary</span>
                                    </a>
                                </div>
                                <div class="col-md-3 item">
                                    <a class="quickaccess" href="@Url.Action("Prices_request", "Commercial")">
                                        <img border="0" alt="Price Request" src="~/Content/appcontent/assets/img/badge/tags.png" width="100" height="100" class="itemqa">

                                        <span class="badge badge-info caption">Price Request</span>
                                    </a>
                                </div>
                                <div class="col-md-3 item">
                                    <a class="quickaccess" href="@Url.Action("Credits_request", "Commercial")">
                                        <img border="0" alt="Credits Request" src="~/Content/appcontent/assets/img/badge/credit-card.png" width="100" height="100" class="itemqa">

                                        <span class="badge badge-info caption">Credits Request</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/sales statistical overview-->

            <!--/member performance & support ticket-->

            <!--/issue fixing & profile info-->
            <!--employee data table-->
            <!--/employee data table-->
            <!--notification & regional sales-->

            <!--/notification & regional sales-->
        </div>
    </div>
</div>
<!--/main content wrapper-->
