
@{
    ViewBag.Title = "Distribuidora Limeña - Home";
}

<!--main content wrapper-->
<div class="content-wrapper">

    <!--/creative states-->
    <div class="box-container">
        <div class="container-fluid">
            <!--sales statistical overview-->

            <!--/sales statistical overview-->
            <!--member performance & support ticket-->

            <!--/member performance & support ticket-->
            <!--issue fixing & profile info-->

            <!--/issue fixing & profile info-->
            <!--employee data table-->
            <!--/employee data table-->
            <!--notification & regional sales-->

            <!--/notification & regional sales-->
        </div>
    </div>
</div>
<!--/main content wrapper-->
