Content-Type: text/html; charset=utf-8

<html>
  <body>
<h3>Hello @ViewBag.user ,<h3><br>
<label>We need you to confirm the information below:<label>

<p>Personal message: "@ViewBag.message".</p>


Please click <a href="@ViewBag.url">here </a> to do it.<br><br>



Please do not hesitate to contact us if you have any question at customercare@limenainc.net
  </body>
</html>