
@{
    ViewBag.Title = "Distribuidora Limeña - DSD";
}

<!--main content wrapper-->
<div class="content-wrapper">

    <!--/creative states-->
    <div class="box-container">
        <div class="container-fluid">
            <!--sales statistical overview-->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-info">
                                <div class="custom-title">New Customer DSD</div>
                                <div class=" widget-action-link">
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-transparent text-secondary dropdown-hover p-0" data-toggle="dropdown">
                                            <i class=" vl_ellipsis-fill-h"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right vl-dropdown">
                                       
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div id="iframePowerBI" style="height:750px; position:relative">
                                        <iframe style="border:none; width:100%; height:700px; z-index:1" src="https://forms.office.com/Pages/ResponsePage.aspx?id=_CNOYf1LDkqYrZkzh9pGrbTZHcsaNV9FjnMe4eAJODJUQUxEMlAwMllGQ05KSFJCQkROUFNCRTgwOC4u&embed=true" frameborder="0" allowfullscreen="false"></iframe>
                                        <!--<img style="top:0px; right:0px; position:absolute;width:100%; height:670px; z-index:9; opacity:0" src="~/Content/images/MechandiserWeb.jpg">-->
                                        @*<img style="top:663px; left:0px; position:absolute; z-index:9" src="~/Content/images/iframefooter.png" width="200" height="37">
                <img style="top:663px; right:0px; position:absolute; z-index:9" src="~/Content/images/iframefooter.png" width="200" height="37">*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/sales statistical overview-->
            
            
            <!--/issue fixing & profile info-->
            <!--employee data table-->
            <!--/employee data table-->
            <!--notification & regional sales-->

            <!--/notification & regional sales-->
        </div>
    </div>
</div>
<!--/main content wrapper-->
