
@{
    Layout = null;
}

<div class="footerb">
    <div class="social-footer">
        <a href="index.html" class="footer-logo-link w-inline-block"><img src="~/Content/landingpage/images/LogoLimenaWebIcono.png" height="75" srcset="~/Content/landingpage/images/LogoLimenaWebIcono-p-500x192.png 500w, ~/Content/landingpage/images/LogoLimenaWebIcono-p-800x307.png 800w, ~/Content/landingpage/images/LogoLimenaWebIcono.png 850w" sizes="(max-width: 767px) 100vw, (max-width: 991px) 61vw, 88vw" class="footer-logo"></a>
        <div class="footer-divider"></div>
        <a href="https://www.facebook.com/DistribuidoraLimena" target="_blank" class="w-inline-block">
            <div class="social-footer-cont">
                <img src="~/Content/landingpage/images/FB-f-Logo__blue_100.png" width="20" height="20" class="social-icon">
                <div>@@LimenaInc</div>
            </div>
        </a>
        <a href="tel:+1615-832-0906" class="w-inline-block">
            <div class="social-footer-cont">
                <img src="~/Content/landingpage/images/ic_phone_black_24px.svg" width="25" height="25" class="social-icon">
                <div>+1 615-832-0906</div>
            </div>
        </a>
        <a href="mailto:contact@limenainc.net" class="w-inline-block">
            <div class="social-footer-cont">
                <img src="~/Content/landingpage/images/ic_email_black_24px.svg" width="25" height="25" class="social-icon">
                <div>customercare@limenainc.net</div>
            </div>
        </a>
    </div>
    <div class="sitemap">
        <div class="sitemap-section"><a href="index.html" class="link-2">Home</a></div>
        <div class="sitemap-section"><a href="servicios.html" class="link-2">Servicios</a></div>
        <div class="sitemap-section"><a href="clientes.html" class="link-2">Clientes</a></div>
        <div class="sitemap-section"><a href="nosotros.html" class="link-2">Nosotros</a></div>
        <div class="sitemap-section"><a href="underconstruction.html" class="link-2">Oportunidades</a></div>
        <div class="sitemap-section"><a href="contacto.html" class="link-2">Contacto</a></div>
        <div class="sitemap-section"><a href="underconstruction.html" class="link-2">Ingreso clientes</a></div>
    </div>
    <div class="footer-footer">
        <div>Copyright © 2018 Distribuidora Limeña Inc.</div>
    </div>
</div>