
@{
    Layout = null;
}

<aside id="main-sidebar" class="dt-sidebar d-lg-none">
    <div class="dt-sidebar__container">

        <!-- Sidebar Navigation -->
        <ul class="dt-side-nav">

            <!-- Menu Header -->
            <li class="dt-side-nav__item dt-side-nav__header">
                <span class="dt-side-nav__text">Home</span>
            </li>
            <!-- /menu header -->
            <!-- Menu Item -->
            <li class="dt-side-nav__item">
                <a href="@Url.Action("Dashboard_Inventory", "Main")" class="dt-side-nav__link" title="Dashboard">
                    <i class="icon icon-dashboard3 icon-fw icon-lg"></i>
                    <span class="dt-side-nav__text">Dashboard</span>
                </a>
            </li>

            <!-- /menu item -->
            <!-- Menu Header -->
            <li class="dt-side-nav__item dt-side-nav__header">
                <span class="dt-side-nav__text">Inventory</span>
            </li>
            <!-- /menu header -->

            <li class="dt-side-nav__item">
                <a href="@Url.Action("Projects", "Inventory")" class="dt-side-nav__link" title="Search">
                    <i class="icon icon-tag-o icon-fw icon-lg"></i>
                    <span class="dt-side-nav__text">Projects</span>
                </a>
            </li>
          
        </ul>
        <!-- /sidebar navigation -->

    </div>
</aside>