
@{
    Layout = null;
}

<script>




    var lastfilter = [];
    var allEvents = [];
    allEvents = @Html.Raw(ViewBag.calroutes);
    var flag = 0;
    var flagbtn = 0;

    var nothinge = [];
    (function ($) {
        'use strict';
        $(function () {
            var style = getComputedStyle(document.body);
            var today = new Date();
            today.setHours(0, 0, 0, 0);

            if ($('#calendar').length) {
                $('#calendar').fullCalendar({
                    header: {
                        left: 'listDay,basicWeek',
                        center: 'title',
                        //right: 'month'
                        //right: 'month,listWeek'
                    },
                    views: {
                      
                      
                        basicWeek: { buttonText: 'Week' },

                        listDay: { buttonText: 'List day' }
                    },
                    defaultView: 'basicWeek',

                    defaultDate: today,
                    navLinks: false, // can click day/week names to navigate views
                    editable: true,
                    height: 2000,
                    disableResizing: true,
                    allDayText: 'Route:',
                    viewRender: function (view, element) {
                        //console.log(view.start, view.end);
                        //console.log($('#calendar').fullCalendar('getDate'));
                        //console.log($('#calendar').fullCalendar('getView').intervalStart)
                        //console.log($('#calendar').fullCalendar('getView').intervalEnd)
                        if (view.name === 'listDay') {
                            //view.el.find('.fc-widget-header').append('<span>&raquo; My Text</span>');//Para poner titulo al lado de nombre de dia de semana
                           
                        } else {
                            var ndate = new Date($('#calendar').fullCalendar('getView').intervalStart); //Evaluar si le sumaremos un dia
                            var fdate = new Date($('#calendar').fullCalendar('getView').intervalEnd);


                            //var lastevents = $('#calendar').fullCalendar('clientEvents');


                            if (flag == 0) {
                                flag = 1;
                                lastfilter.push({
                                    sd: ndate,
                                    ed: fdate
                                });
                                //console.log("no cargue nada porque es primera vez");

                            } else {

                                var editp = lastfilter.filter(function (el) {

                                    return el.sd.getTime() === ndate.getTime();
                                });



                                if (editp.length > 0) {
                                    //console.log("estos eventos ya fueron cargados");
                                } else {
                                    lastfilter.push({
                                        sd: ndate,
                                        ed: fdate
                                    });

                                    document.getElementById("loader").style.display = "block";
                                    $.ajax
                                        ({
                                            url: '/Invoices/GetEvents',
                                            type: 'POST',
                                            datatype: 'application/json',
                                            contentType: 'application/json',
                                            data: JSON.stringify({
                                                startf: ndate,
                                                endf: fdate
                                            }),
                                            success: function (result) {
                                                try {
                                                    console.log(result);
                                                    $.each($.parseJSON(result), function (i, events) {
                                                        var event = events;

                                                        $('#calendar').fullCalendar('renderEvent', event, true);

                                                    }

                                                    ) //END EACH
                                                } catch{
                                                    alert("Whooaaa! Something went wrong..")
                                                    document.getElementById("loader").style.display = "none";
                                                }
     


                                                document.getElementById("loader").style.display = "none";

                                            },
                                            error: function () {
                                                alert("Whooaaa! Something went wrong..")
                                                document.getElementById("loader").style.display = "none";
                                            },
                                        });
                                }
                        }



                        }


                    },

                    //showNonCurrentDates: false,
                    eventLimit: true, // allow "more" link when too many events
                    events: allEvents,
                    eventDrop: function (event, delta, revertFunc) {

                        //alert("You change the date for the Route: " + event.title + ". The new date is: " + event.start.format());

                        if (!confirm("Are you sure about this change? All visits will change to the assigned date.")) {
                            revertFunc();
                        } else {
                            //Hacemos el callback del procedimiento que cambiara todas las fechas
                            
                        //var id_route = event.title.substr(0, event.title.indexOf(' '));

                        //Guardamos en server
                        //$("#loading").show();
                        //    $.ajax({
                        //        url: '/Commercial/ChangeDates',
                        //        type: 'POST',
                        //        data: { 'route': id_route, 'nuevafecha': event.start.format() },
                        //    cache: false,
                        //    global: false,
                        //    success: function (result) {
                        //        $("#loading").hide();

                        //        if (result.result == "success") {
                        //            toastr.success("Data saved successfully.", "Success");
                        //        } else {
                        //            revertFunc();
                        //            toastr.warning(result.result, "Warning");
                        //        }

                        //    },
                        //    error: function (request) {
                        //        $("#loading").hide();
                        //        revertFunc();

                        //    }
                        //});
                        }

                    },
                   
                    eventRender: function (event, element) {
                        if (event.isfinished == "Y") { element.find('.fc-title').html("<i class='fa fa-check-circle text-success'></i><b>" + event.title + "</b>"); } else { element.find('.fc-title').html("<b>" + event.title + "</b>"); }
                        
                        element.find('.fc-title').append("<br/>Driver:");
                        
                        element.find('.fc-title').append("<br/>" + event.driver);
                        element.find('.fc-title').append("<br/>Route Leader:");
                        element.find('.fc-title').append("<br/>" + event.route_leader);
                        element.find('.fc-title').append("<br/>Truck:");
                        element.find('.fc-title').append("<br/>" + event.truck);
                        element.find('.fc-title').append("<br/>Departure:");
                        element.find('.fc-title').append("<br/>" + event.departure);
                        element.find('.fc-title').append("<br/>Total Amount: ");
                        element.find('.fc-title').append(formatter.format(event.amount));
                        element.find('.fc-title').append("<br/>Total Orders: ");
                        element.find('.fc-title').append("" + event.orderscount);
                        element.find('.fc-title').append("<br/>Total Customers: ");
                        element.find('.fc-title').append("" + event.customerscount);
                        element.find('.fc-title').append("<br/>Total Extra: ");
                        element.find('.fc-title').append("" + formatter.format(event.extra));
                        element.find('.fc-title').append("<br/>Total Cases: ");
                        element.find('.fc-title').append("" + formatterNoCurrency.format(event.AVGEach));

                        /*For List view*/

                        if (event.isfinished == "Y") { element.find('.fc-list-item-title').html("<i class='fa fa-check-circle text-success'></i><b>" + event.title + "</b>"); } else { element.find('.fc-list-item-title').html("<b>" + event.title + "</b>"); }

                        element.find('.fc-list-item-title').append("<br/>Driver:");

                        element.find('.fc-list-item-title').append("<br/>" + event.driver);
                        element.find('.fc-list-item-title').append("<br/>Route Leader:");
                        element.find('.fc-list-item-title').append("<br/>" + event.route_leader);
                        element.find('.fc-list-item-title').append("<br/>Truck:");
                        element.find('.fc-list-item-title').append("<br/>" + event.truck);
                        element.find('.fc-list-item-title').append("<br/>Departure:");
                        element.find('.fc-list-item-title').append("<br/>" + event.departure);
                        element.find('.fc-list-item-title').append("<br/>Total Amount: ");
                        element.find('.fc-list-item-title').append(formatter.format(event.amount));
                        element.find('.fc-list-item-title').append("<br/>Total Orders: ");
                        element.find('.fc-list-item-title').append("" + event.orderscount);
                        element.find('.fc-list-item-title').append("<br/>Total Customers: ");
                        element.find('.fc-list-item-title').append("" + event.customerscount);
                        element.find('.fc-list-item-title').append("<br/>Total Extra: ");
                        element.find('.fc-list-item-title').append("" + formatter.format(event.extra));
                        element.find('.fc-list-item-title').append("<br/>Total Cases: ");
                        element.find('.fc-list-item-title').append("" + formatterNoCurrency.format(event.AVGEach));

                
                        //element.prop('title', "HOLA PERRAS");
                       


                    },
                    eventAfterRender: function (event, element, view) {
                        //element.css("background", "#fff");
                        //element.css("border-color", "#000 !important");
                        element.css("font-size", "10px");
                        //element.css("border", "solid !important");
    
                 
                    },
                    eventResize: function (event, delta, revertFunc) {
                        revertFunc();
                        //alert(event.title + "start: " + event.start.format() + " end is now " + event.end.format());

                        //if (!confirm("is this okay?")) {
                        //    revertFunc();
                        //}

                    },
                    eventMouseover: function (calEvent, jsEvent) {
                        var tooltip = '<div class="tooltipevent" style="width:200px;height:300px;font-size:10px;position:absolute;z-index:10001;">'+
                        '<div class="col-xl-12 col-md-12">' +
                            '<div class="card card-shadow mb-4">' +
                                '<div class="card-header border-0">' +
                                    '<div class="custom-title-wrap bar-primary">' +
                            '<div class="custom-title" style="font-size:9px;">Total Each: ' + calEvent.AVGEach + '</div>' +
                                    '</div>' +
                                '</div>' +
                                '<div class="card-body">' +
                                    '<ul class="list-unstyled base-timeline">' +
                                        '<li class="time-dot-primary">' +
                                            '<div class="base-timeline-info">'+
                                            'Each: ' + calEvent.totalEach +
                                    '</div>'+
                                        '</li>' +

                            '<li class="time-dot-primary">' +
                            '<div class="base-timeline-info">' +
                                        'Case: ' + calEvent.totalCase +
                        '</div>' +
                            '</li>' +

                            '<li class="time-dot-primary">' +
                            '<div class="base-timeline-info">' +
                            'Pack: ' + calEvent.totalPack + '' +
                        '</div>' +
                            '</li>' +

                            '<li class="time-dot-primary">' +
                            '<div class="base-timeline-info">' +
                            'LBS: ' + calEvent.totalLbs + '' +
                        '</div>' +
                            '</li>' +
                        '</ul>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>';




                        var $tooltip = $(tooltip).appendTo('body');

                        $(this).mouseover(function (e) {
                            $(this).css('z-index', 10000);
                            $tooltip.fadeIn('500');
                            $tooltip.fadeTo('10', 1.9);
                        }).mousemove(function (e) {
                            $tooltip.css('top', e.pageY + 10);
                            $tooltip.css('left', e.pageX + 20);
                        });
                    },

                    eventMouseout: function (calEvent, jsEvent) {
                        $(this).css('z-index', 8);
                        $('.tooltipevent').remove();
                    },
                    eventClick: function (calEvent, jsEvent, view) {

                        //Llamamos con AJAX
                      
                        if (flagbtn == 0) {
                            flagbtn = 1;
                            var id_route = calEvent.title.substr(0, calEvent.title.indexOf(' '));
                            $("#selectedOrdersTitle").html("Selected Orders for: " + calEvent.title);
                            var date = new Date(calEvent.start);
                            var theDiv = document.getElementById("sortable2"); //PARA SALES ORDERS YA SELECCIONADAS
                            var theDivReps = document.getElementById("sortable1");
                            theDiv.innerHTML = "";
                            theDivReps.innerHTML = "";
                            //Guardamos en server

                            $.ajax({
                                url: '/Invoices/GetSalesOrders',
                                type: 'POST',
                                datatype: 'application/json',
                                contentType: 'application/json',
                                data: JSON.stringify({
                                    id: id_route,
                                    date: date
                                }),
                                cache: false,
                                global: false,
                                success: function (result) {
                                    $("#loading").hide();
                                    $("#selectedRoute").val(id_route);
                                    $("#selectedRoute2").val(id_route);

                                    var count = 0;


                                    var url = '@Url.Action("Planning_order", "Invoices", new { id = "ID_ACT"})';
                                    url = url.replace('ID_ACT', id_route);
                                    $("#Sortbtn").attr("href", url)

                                    var contents = '';

                                    $.each($.parseJSON(result.result), function (i, selSO) {
                                        count++;
                                        var cCustomer = String(selSO.CardCode).charAt(0);

                                        contents = '<li id="' + selSO.NumSO + '">';

                                        contents += '<div class="media">';
                                        if (cCustomer == "C") {
                                            contents += '<div class="mr-4 rounded-circle bg-warning st-alphabet pillso">' + selSO.NumSO + '</div>';
                                        } else {
                                            contents += '<div class="mr-4 rounded-circle bg-info st-alphabet pillso">' + selSO.NumSO + '</div>';
                                        }

                                        contents += '<div class="media-body list-widget-border"><div class="float-left">';
                                        //contents += '<h6 class="text-uppercase">' + selSO.CardCode + " -" + selSO.CustomerName + '</h6>';
                                        contents += '<span style="font-size:12px;"  class="pillcc2"><strong>' + selSO.CardCode + "" + '  -  </strong></span><label style="font-size:12px;" class="text-uppercase pillCustomer2 text-black"><strong>' + selSO.CustomerName + '</strong></label><br>';
                                        contents += '<small class="text-uppercase">Route: ' + selSO.DeliveryRoute + '</small><br/>';
                                        contents += '<small class="text-uppercase">Sales Rep: ' + selSO.SalesPerson + '</small><br />';
                                        //contents += '<small class="text-uppercase">Printed: ' + selSO.Printed + '</small><br />';

                                        contents += '<small>Amount: $ </small><small class="pillAmount2">' + selSO.OpenAmount.toFixed(2) + '</small><br>';
                                        //contents += '<div class="float-right">';
                                        //contents += '<br><small class="text-muted text-sm">Date:' + (new Date(parseInt(selSO.SODate.substr(6)))).toLocaleDateString('en-US')  + '</small>';
                                        contents += '<small class="text-muted text-sm pilldate2">Date:' + (new Date(parseInt(selSO.SODate.substr(6)))).toLocaleDateString('en-US') + '</small>';
                                        if (selSO.Remarks === null) {

                                        } else {
                                            if (selSO.Remarks != "") {
                                                contents += '<br><a class="text-muted" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="' + selSO.Remarks + '">Remarks</a>';
                                            }
                                        }

                                        contents += '</div></div></div>';

                                        contents += '</li>';

                                        theDiv.innerHTML += contents;
                                    });

                                    var contentOpenSO = "";  //PARA SALES ORDERS ABIERTAS

                                    $.each($.parseJSON(result.result2), function (i, openSO) {
                                        var cCustomer2 = String(openSO.CardCode).charAt(0);
                                        contentOpenSO = '<li id="' + openSO.NumSO + '">';

                                        contentOpenSO += '<div class="media">';
                                        if (cCustomer2 == "C") {
                                            contentOpenSO += '<div class="mr-4 rounded-circle bg-warning st-alphabet pillso">' + openSO.NumSO + '</div>';
                                        } else {
                                            contentOpenSO += '<div class="mr-4 rounded-circle bg-info st-alphabet pillso">' + openSO.NumSO + '</div>';
                                        }

                                        contentOpenSO += '<div class="media-body list-widget-border"><div class="float-left">';
                                        contentOpenSO += '<span style="font-size:12px;" class="pillcc2"><strong>' + openSO.CardCode + "" + '  -  </strong></span><label style="font-size:12px;" class="text-uppercase pillCustomer2 text-black"><strong>' + openSO.CustomerName + '</strong></label><br>';
                                        contentOpenSO += '<small class="text-uppercase pillRoute">Route: ' + openSO.DeliveryRoute + '</small><br />';
                                        contentOpenSO += '<small class="text-uppercase">Sales Rep: ' + openSO.SalesPerson + '</small><br />';
                                        if (openSO.Printed == "Y") {
                                            contentOpenSO += '<small class="text-uppercase">Printed: ' + "YES" + '</small><br />';
                                        } else {
                                            contentOpenSO += '<small class="text-uppercase">Printed: ' + "NO" + '</small><br />';
                                        }

                                        if (openSO.OpenAmount == openSO.TotalSO) {
                                            contentOpenSO += '<small>Amount: $ </small><small class="pillAmount2">' + openSO.OpenAmount.toFixed(2) + '</small><br>';

                                        } else {
                                            contentOpenSO += '<small>Amount: $ </small><small class="pillAmount2">' + openSO.OpenAmount.toFixed(2) + '</small><small class="text-muted" style="font-size:10px;">   -   Total SO: $ ' + openSO.TotalSO.toFixed(2) + '</small><br>';

                                        }


                                        //contentOpenSO += '<div class="float-right">';
                                        //contentOpenSO += '<br/><small class="text-muted">Date: ' + (new Date(parseInt(openSO.SODate.substr(6)))).toLocaleDateString('en-US') + '</small>';
                                        contentOpenSO += '<small class="text-muted pilldate2">Date: ' + (new Date(parseInt(openSO.SODate.substr(6)))).toLocaleDateString('en-US') + '</small>';
                                        if (openSO.Remarks === null) {

                                        } else {
                                            if (openSO.Remarks != "") {
                                                contentOpenSO += '<br><a class="text-muted" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="' + openSO.Remarks + '">Remarks</a>';
                                            }
                                        }
                                        contentOpenSO += '</div></div></div>';

                                        contentOpenSO += '</li>';
                                        theDivReps.innerHTML += contentOpenSO;
                                    });


                                    var conf1 = 0;
                                    $.each($.parseJSON(result.result6), function (i, conf) {
                                        if (conf.isfinished == true) {
                                            conf1 = 1;
                                        }
                                    });


                                    if (conf1 == 0) {
                                        $("#sortable1").sortable({
                                            connectWith: ".connectedSortable"
                                        }).disableSelection();


                                        $("#sortable2").sortable({
                                            connectWith: ".connectedSortable",
                                            update: function () {
                                                var column2RelArray = [];
                                                $('ul#sortable2 small.pillAmount2').each(function () {
                                                    column2RelArray.push($(this).text());
                                                });

                                                const result = column2RelArray.reduce((r, e) => r + +e.replace(',', '.'), 0)


                                                $("#totalAmountSO").html("Total Amount: " + formatter.format(result.toFixed(2)));
                                                $("#totalSO").html("Total Sales Orders: " + column2RelArray.length);

                                                ///

                                                var columnCustomerRelArray = [];
                                                $('ul#sortable2 label').each(function () {
                                                    columnCustomerRelArray.push($(this).text());
                                                    $.unique(columnCustomerRelArray.sort());
                                                });
                                                $("#totalCustomers").html("Total Customers: " + columnCustomerRelArray.length);
                        
                                                $("#totalExtra").html("Total Extra: $" + result.result7);

                                               
                                            }
                                        }).disableSelection();


                                        $("#btneditr").show();
                                        $("#delso").show();
                                        $("#savso").show();
                                     
                                        $("#neworder").show();
                                        $("#divopenso").show();
                                        $('#divselos').addClass('col-md-6').removeClass('col-md-12');

                                    } else {

                                        $("#btneditr").hide();
                                        $("#delso").hide();
                                        $("#savso").hide();
                                        $("#neworder").hide();
                                        $("#divopenso").hide();
                                        $('#divselos').addClass('col-md-12').removeClass('col-md-6');
                                    }

                                    //$(function () {
                                    //    $("#sortable1, #sortable2").sortable({
                                    //        connectWith: ".connectedSortable",
                                    //        update: function () {
                                    //            var column2RelArray = [];
                                    //            $('ul#sortable2 small.pillAmount').each(function () {
                                    //                column2RelArray.push($(this).text());
                                    //            });
                                    //            console.log(column2RelArray);
                                    //        }

                                    //    }).disableSelection();


                                    //});

                                    $('[data-toggle="tooltip"]').tooltip()


                                    /* ---------------------------------------------
                                     Configure popover globally
                                     --------------------------------------------- */
                                    $('[data-toggle="popover"]').popover();





                                    var column3RelArray = [];
                                    $('ul#sortable2 small.pillAmount2').each(function () {
                                        column3RelArray.push($(this).text());
                                    });

                                    const result2 = column3RelArray.reduce((r, e) => r + +e.replace(',', '.'), 0)


                                    $("#totalAmountSO").html("Total Amount: " + formatter.format(result2.toFixed(2)));
                                    $("#totalSO").html("Total Sales Orders: " + column3RelArray.length);
                                    
                                        $("#totalExtra").html("Total Extra: $" + result.result7);
                                   
                                    ///
                                    var columnCustomerRelArray2 = [];
                                    $('ul#sortable2 label').each(function () {
                                        columnCustomerRelArray2.push($(this).text());
                                        $.unique(columnCustomerRelArray2.sort());
                                    });

                                    $("#totalCustomers").html("Total Customers: " + columnCustomerRelArray2.length);

                                    //
                                    $("#officeFltr").html('');
                                    var o = new Option("option text", "0");
                                    /// jquerify the DOM object 'o' so we can use the html method
                                    $(o).html("SELECT ALL ROUTES...");
                                    $("#officeFltr").append(o);
                                    $.each($.parseJSON(result.result3), function (i, routes) {
                                        var o = new Option("option text", "value");
                                        /// jquerify the DOM object 'o' so we can use the html method
                                        $(o).html(routes);
                                        $("#officeFltr").append(o);
                                    });

                                    //REPS
                                    $("#officeFltr2").html('');
                                    var o = new Option("option text", "0");
                                    /// jquerify the DOM object 'o' so we can use the html method
                                    $(o).html("SELECT ALL REPS...");
                                    $("#officeFltr2").append(o);
                                    $.each($.parseJSON(result.result4), function (i, reps) {
                                        var o = new Option("option text", "value");
                                        /// jquerify the DOM object 'o' so we can use the html method
                                        $(o).html(reps);
                                        $("#officeFltr2").append(o);
                                    });

                                    ///
                                    //CUSTOMER
                                    $("#officeFltr3").html('');
                                    var o = new Option("option text", "0");
                                    /// jquerify the DOM object 'o' so we can use the html method
                                    $(o).html("SELECT ALL CUSTOMERS...");
                                    $("#officeFltr3").append(o);
                                    $.each($.parseJSON(result.result5), function (i, customer) {
                                        var o = new Option("option text", "value");
                                        /// jquerify the DOM object 'o' so we can use the html method
                                        $(o).html(customer.CustomerName);
                                        $("#officeFltr3").append(o);
                                    });
                                    //



                                    //UOM INFO
                                    $("#Each").html("Each: " + result.result8);
                                    $("#Case").html("Case: " + result.result9);
                                    $("#Pack").html("Pack: " + result.result10);
                                    $("#LBS").html("LBS: " + result.result11);
                                    $("#totalEach").html("Total Cases: " + formatterNoCurrency.format(result.result12));


                                    $('#modal_SO').modal('show');
                                    flagbtn = 0;
                                },
                                error: function (request) {
                                    flagbtn = 0;


                                }
                            });
                        }

               
                        // change the border color just for fun
                        $(".fc-h-event").css("border-color", "#eef2f5 !important");
                        $(".fc-h-event").css("background", "#eef2f5");
                        $(this).css("background", "#fab63f");
                        //$(this).css("border-color", "#fab63f");
                        

                    }


                })
            }
        });
    })(jQuery);


    function saveRoute() {

        var routename = $("#routeName").val();
        var mainrouteCode = $("#lstMaster").val();
        var mainrouteName = $("#lstMaster option:selected").text();
        var driverCode = $("#lstDriver").val();
        var driverName = $("#lstDriver option:selected").text();
        var truckCode = $("#lstTruck").val();
        var truckName = $("#lstTruck option:selected").text();
        var rleaderCode = $("#lstRLeader").val();
        var rleaderName = $("#lstRLeader option:selected").text();
        var departure = $("#departure").val();
        console.log(departure);
        document.getElementById("loader").style.display = "block";
        $.ajax
            ({
                url: '/Invoices/CreateRoutePlanning',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    routeName: routename,
                    lstMasterCode: mainrouteCode,
                    lstMasterName: mainrouteName,
                    lstDriverCode: driverCode,
                    lstDriverName: driverName,
                    lstTruckCode: truckCode,
                    lstTruckName: truckName,
                    lstRLeaderCode: rleaderCode,
                    lstRLeaderName: rleaderName,
                    departure: departure
                }),
                success: function (result) {
                    try {
                        console.log(result);

                        $.each($.parseJSON(result), function (i, events) {
                            var event = events;

                            $('#calendar').fullCalendar('renderEvent', event, true);

                        }

                        ) //END EACH
                        toastr.success("Route created successfully.", "Success");
                        document.getElementById("loader").style.display = "none";
                        $("#routeName").val('');
                        $("#lstMaster").val('0').trigger('change');
                        $("#lstDriver").val('0').trigger('change');
                        $("#lstTruck").val('0').trigger('change');
                        $("#lstRLeader").val('0').trigger('change');
                        $('#createModal').modal('hide');
                    }catch{
                        window.location.reload(true);
                    }

                },
                error: function () {
                    
                    toastr.warning("Something went wrong..", "Warning");
                    document.getElementById("loader").style.display = "none";
                },
            });

    }

    var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
        minimumFractionDigits: 2,
        // the default value for minimumFractionDigits depends on the currency
        // and is usually already 2
    });
    var formatterNoCurrency = new Intl.NumberFormat('en-US', {
        minimumFractionDigits: 2,
        // the default value for minimumFractionDigits depends on the currency
        // and is usually already 2
    });
    function saveSalesOrders() {
        var column1RelArray = [];
        $('ul#sortable2 li').each(function () {
            column1RelArray.push($(this).attr('id'));
        });

        var id_route = $("#selectedRoute").val();
        document.getElementById("loader").style.display = "block";
        $.ajax
            ({
                url: '/Invoices/SaveSalesOrders',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    salesOrders: column1RelArray,
                    id_route: id_route
                    
                }),
                success: function (result) {

                    if (result == "SUCCESS") {
                        toastr.success("Sales Orders saved successfully.", "Success");
                        //sortSalesOrders()
                        document.getElementById("loader").style.display = "none";
                        window.location.reload(true);
                    } else if (result == "NO DATA") {
                        toastr.warning("Please, choose at least one sales order to continue.", "Warning");
                        document.getElementById("loader").style.display = "none";
                    } else {
                        toastr.info("Saving new changes..", "Warning");
                        
                        document.getElementById("loader").style.display = "none";
                        saveSalesOrders();
                    }


                },
                error: function () {

                    toastr.warning("Something went wrong..", "Warning");
                    document.getElementById("loader").style.display = "none";
                },
            });




    }

    function saveExtrasDet() {
        var data;
        data = Array();

        $("#tbExtras tr").each(function (i, v) {
            data[i] = Array();
            $(this).children('td').each(function (ii, vv) {

                    data[i][ii] = $(this).text();
                


            });
        })



        var objects = [];
        for (var i = 0, len = data.length; i < len; i++) {
            if (i != 0) {
                objects.push({
                    Description: data[i][0],
                    Value: data[i][1].trim()
                });
            }

        }


        var id_route = $("#selectedRoute").val();
        document.getElementById("loader").style.display = "block";
        $.ajax
            ({
                url: '/Invoices/SaveExtras',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    objects: objects,
                    id: id_route

                }),
                success: function (result) {

                    if (result == "SUCCESS") {
                        toastr.success("Data saved successfully.", "Success");
                        window.location.reload(true);
                    } else if (result == "NO DATA") {
                        toastr.warning("Please, add at least one item to continue.", "Warning");
                        document.getElementById("loader").style.display = "none";
                    } else {
                        toastr.info("Saving new changes..", "Warning");
                        window.location.reload(true);
                        document.getElementById("loader").style.display = "none";
                       
                    }


                },
                error: function () {

                    toastr.warning("Something went wrong..", "Warning");
                    document.getElementById("loader").style.display = "none";
                },
            });




    }

    function sortSalesOrders() {
        //swal.fire({
        //    title: 'Are you sure to sort this route?',
        //    text: "You won't be able to revert this",
        //    type: 'warning',
        //    showCancelButton: true,
        //    confirmButtonColor: '#3dba6f',
        //    cancelButtonColor: '#aaa',
        //    confirmButtonText: 'Yes'
        //}).then((result) => {
        //    if (result.value) {

                var column1RelArray = [];
                $('ul#sortable2 li').each(function () {
                    column1RelArray.push($(this).attr('id'));
                });

                var id_route = $("#selectedRoute").val();
                document.getElementById("loader").style.display = "block";
                $.ajax
                    ({
                        url: '/Invoices/SortSalesOrders',
                        type: 'POST',
                        datatype: 'application/json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            salesOrders: column1RelArray,
                            id_route: id_route

                        }),
                        success: function (result) {

                            if (result == "SUCCESS") {
                                toastr.success("Sales Orders sorted successfully.", "Success");
                                document.getElementById("loader").style.display = "none";
                                window.location.reload(true);
                            } else if (result == "NO DATA") {
                                //toastr.warning("Please, choose at least one sales order to continue.", "Warning");

                                document.getElementById("loader").style.display = "none";
                                window.location.reload(true);
                            } else {
                                toastr.info("Saving new changes..", "Warning");

                                document.getElementById("loader").style.display = "none";
                                //sortSalesOrders();
                            }


                        },
                        error: function () {

                            toastr.warning("Something went wrong..", "Warning");
                            document.getElementById("loader").style.display = "none";
                        },
                    });
        //    }
        //});

    }
</script>


