@{
    Layout = null;
}


<script type="text/javascript">
    window.onload = function () {
        //PARA RADIO BUTTONS
        $.each($('input[type="radio"]'), function () {

            if ($(this).is(':checked')) {
                if (this.value == "YES") {
                    document.getElementsByClassName('divrangecontrol')[0].style.visibility = '';

                } else if (this.value == "NO") {
                    document.getElementsByClassName('divrangecontrol')[0].style.visibility = 'hidden';

                }
            }



        });


        $('.parentdiv').on('change', '.rad', function () {

            var id = $(this).attr('id');
            var parent = $(this).attr('name');



            if ($(this).is(':checked')) {
                $('.childdiv' + parent).hide();
                $('#radiodiv_' + id).show();
            } else {

            }
        });

        $('input[type="radio"]').on('click change', function (e) {
 
            if (this.value == "YES") {
                document.getElementsByClassName('divrangecontrol')[0].style.visibility = '';
              
            } else if (this.value == "NO") {
                document.getElementsByClassName('divrangecontrol')[0].style.visibility = 'hidden';
     
            }
        });


        $(function () {
            $('.timerangecontrol').daterangepicker({
                timePicker: true,
                autoApply: true,
                timePicker24Hour: false,
                timePickerIncrement: 1,
                timePickerSeconds: false,
                locale: {
                    format: 'HH:mm'
                }
            }

            ).on('show.daterangepicker', function (ev, picker) {
                picker.container.find(".calendar-table").hide();
            });
        });


        $('.parentdiv').on('change', '.chk', function () {

            var id = $(this).attr('id');
            var parent = $(this).attr('name');



            if ($(this).is(':checked')) {

                $('#radiodiv_' + id).show();
            } else {
                $('#radiodiv_' + id).hide();
            }
        });

        if (document.getElementById("brands_list")) {
            getBrands();
        } else {

        }


    };




    function getCategories() {
        var customerId = $("#customer_list").val();
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;


        $.ajax
            ({
                url: '/FormsActions/GetCategories',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    customerID: customerId,
                    idvisit: idvisita
                }),
                success: function (result) {

                    $("#cat_list").html("");
                    $("#cat_list").append($('<option></option>').val(0).html("Seleccione una categoria"))
                    $.each($.parseJSON(result), function (i, cat) {
                        if (cat.isselected) {//si esta seleccionado
                            $("#cat_list").append
                                ($('<option selected></option>').val(cat.FirmCode).html(cat.FirmName));


                        } else {
                            $("#cat_list").append
                                ($('<option></option>').val(cat.FirmCode).html(cat.FirmName));
                        }


                    }

                    )
                    if (document.getElementById("subcat_list")) {
                        getSubcategories();
                    } else {

                    }


                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });



    }

    function getSubcategories() {

        $("#subcat_list").select2({
            multiple: true,
            placeholder: "Select..."

        });

        var catID = $("#cat_list").val();
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;
        var customerId = $("#brands_list").val();
        $.ajax
            ({
                url: '/FormsActions/getSubcategories',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    customerID: customerId,
                    catID: catID,
                    idvisit: idvisita
                }),
                success: function (result) {

                    $("#subcat_list").html("");
                    $("#subcat_list").append($('<option></option>').val(0).html("Seleccione una subcategoria"))
                    $.each($.parseJSON(result), function (i, productline) {

                        if (productline.isselected) {//si esta seleccionado
                            $("#subcat_list").append
                                ($('<option selected></option>').val(productline.FirmCode).html(productline.FirmName));

                        } else {
                            $("#subcat_list").append
                                ($('<option></option>').val(productline.FirmCode).html(productline.FirmName));
                        }
                    }
                    )

                    //$("input.btloadprod").attr('disabled', false);
                    $("input.btloadprod").removeAttr('disabled');
      



                    //if (document.getElementById("brands_list")) {
                    //    getBrands();
                    //} else {

                    //}


                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });

    }


    function getBrands() {
        var subID = $("#subcat_list").val();
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;
        var catID = $("#cat_list").val();
        var customerId = $("#customer_list").val();
        $.ajax
            ({
                url: '/FormsActions/Getbrands',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    customerID: customerId,
                    catID: catID,
                    subID: subID,
                    idvisit: idvisita
                }),
                success: function (result) {

                    $("#brands_list").html("");
                    $("#brands_list").append($('<option></option>').val(0).html("Seleccione una marca"))
                    $.each($.parseJSON(result), function (i, brands) {
                        if (brands.isselected) {//si esta seleccionado
                            $("#brands_list").append
                                ($('<option selected></option>').val(brands.FirmCode).html(brands.FirmName));


                        } else {
                            $("#brands_list").append
                                ($('<option></option>').val(brands.FirmCode).html(brands.FirmName));
                        }


                    }

                    )
                    getCategories();
                        getProductslineorRefimg();
                    

                    

                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });



    }


    function getProductslineorRefimg() {

        if (document.getElementById("productline_list")) {
            var brandId = $("#brands_list").val();
            var idvisita = "";
            idvisita = document.getElementById('idvisita').value;

            $.ajax
                ({
                    url: '/FormsActions/Getproductline',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        brandID: brandId,
                        idvisit: idvisita
                    }),
                    success: function (result) {

                        $("#productline_list").html("");
                        $("#productline_list").append($('<option></option>').val(0).html("Select a Product Line"))
                        $.each($.parseJSON(result), function (i, productline) {

                            if (productline.isselected) {//si esta seleccionado
                                $("#productline_list").append
                                    ($('<option selected></option>').val(productline.Id_subcategory).html(productline.SubCategory));

                            } else {
                                $("#productline_list").append
                                    ($('<option></option>').val(productline.Id_subcategory).html(productline.SubCategory));
                            }
                        }
                        )
                        if (document.getElementById("brandcompetitors_list")) {
                            getBrandcompetitor();
                        } else {

                        }


                    },
                    error: function () {
                        alert("Whooaaa! Something went wrong..")
                    },
                });
        }

        if (document.getElementsByClassName("imgref1")) {
            var brandId = $("#brands_list").val();
            var catId = $("#cat_list").val();
            var subcatId = $("#subcat_list").val();
            var idvisita = "";
            idvisita = document.getElementById('idvisita').value;

            $.ajax
                ({
                    url: '/FormsActions/GetRefImg',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        brandID: brandId,
                        catID: catId,
                        subcatID: subcatId
                    }),
                    success: function (result) {


                        $(".imgref1").attr('src', result);

                    },
                    error: function () {
                        alert("Whooaaa! Something went wrong..")
                    },
                });
        }
       

    }

    function getBrandcompetitor() {
        var brandId = $("#brands_list").val();
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;

        $.ajax
            ({
                url: '/FormsActions/Getbrandcompetitors',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    brandID: brandId,
                    idvisit: idvisita
                }),
                success: function (result) {

                    $("#brandcompetitors_list").html("");
                    $("#brandcompetitors_list").append($('<option></option>').val(0).html("Select a Brand Competitor"));
                    $("#brandcompetitors_list").append($('<option></option>').val('NA001').html("NOT ASSIGNED"));
                    $.each($.parseJSON(result), function (i, productline) {

                        if (productline.isselected) {//si esta seleccionado
                            $("#brandcompetitors_list").append
                                ($('<option selected></option>').val(productline.Id_brandc).html(productline.namec));

                        } else {
                            $("#brandcompetitors_list").append
                                ($('<option></option>').val(productline.Id_brandc).html(productline.namec));
                        }
                    }
                    )

                },
                error: function () {
                    alert("Whooaaa! Something went wrong..")
                },
            });

    }
</script>

<script type="text/javascript">
    $(document).ready(function () {

        //// Here we'll persist the form's data into localStorage on
        //// every keystroke
        //$(function () {
        //    $("#demoTform").sisyphus();
        //// or you can persist all forms data at one command
        //// $( "form" ).sisyphus();
        //});

    });

</script>
<!--SCRIPT FORM_TEMPLATE SAVE-->
<script>


    $(function () {
        $("#save_activity").click(function () {

            //initGeolocation();

            document.getElementById("loader").style.display = "block";


            var idvisita = "";
            idvisita = document.getElementById('idvisita').value;


            //GUARDAMOS OBJETOS

            var objects = [];


            $.each($('input.dropifyIMG[type = "file"]'), function () {

                objects.push({
                    id: $(this).attr('id'),
                    value: $(this).attr('data-changeflag'),
                    text: ""
                });

            });

            $.each($('input.form-control[type = "text"]'), function () {

                objects.push({
                    id: $(this).attr('id'),
                    value: $(this).val(),
                    text: ""
                });

            });


            //var canvas = document.getElementById("sig-canvas");
            $.each($('canvas'), function () {
                var canvas = document.getElementById($(this).attr("id"));
                var dataUrl = canvas.toDataURL();
                //alert(dataUrl);

                objects.push({
                    id: $(this).attr("data-id"),
                    value: dataUrl,
                    text: ""
                });
            });


            var now = new Date();

            $.ajax({
                url: '/FormsActions/Save_activitySurvey',
                type: 'POST',
                data: { 'id': idvisita, 'objects': objects, 'lat': '', 'lng': '', 'check_in': now.toLocaleString("en-US", { hour12: true }) },
                cache: false,
                global: false,
                success: function (result) {

                    if (result.Result == "Success") {
                        document.getElementById("loader").style.display = "none";
                        toastr.success("Data saved successfully.", "Success");

                        var x = document.getElementById("finish_activity");
                        if (x.style.display === "none") {
                            x.style.display = "inline-block";
                        } else {
                            //x.style.display = "none";
                        }

                        //window.location.reload(true);
                        //window.location.reload(true);
                    } else {
                        document.getElementById("loader").style.display = "none";
                        toastr.warning("Something went wrong..", "Warning");

                    }


                },
                error: function (request) {
                    document.getElementById("loader").style.display = "none";
                    toastr.warning("Something went wrong..", "Warning");


                }
            });
        }
        );
    });
    var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function success(pos) {
        var crd = pos.coords;
        document.getElementById("loader").style.display = "block";

        var lat = crd.latitude;
        var lng = crd.longitude;

        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;


        //GUARDAMOS OBJETOS

        var objects = [];


        $.each($('input.dropifyIMG[type = "file"]'), function () {

            objects.push({
                id: $(this).attr('id'),
                value: $(this).attr('data-changeflag'),
                text: ""
            });

        });



        //var canvas = document.getElementById("sig-canvas");
        $.each($('canvas'), function () {
            var canvas = document.getElementById($(this).attr("id"));
            var dataUrl = canvas.toDataURL();
            //alert(dataUrl);

            objects.push({
                id: $(this).attr("data-id"),
                value: dataUrl,
                text: ""
            });
        });


        //$.each(objects, function (propName, propVal) {
        //    console.log(propName, propVal);
        //});

        var now = new Date();

        $.ajax({
            url: '/FormsActions/Save_activitySurvey',
            type: 'POST',
            data: { 'id': idvisita, 'objects': objects, 'lat': lat, 'lng': lng, 'check_in': now.toLocaleString("en-US", { hour12: true }) },
            cache: false,
            global: false,
            success: function (result) {

                if (result.Result == "Success") {
                    document.getElementById("loader").style.display = "none";
                    toastr.success("Data saved successfully.", "Success");

                    var x = document.getElementById("finish_activity");
                    if (x.style.display === "none") {
                        x.style.display = "inline-block";
                    } else {
                        //x.style.display = "none";
                    }

                    //window.location.reload(true);
                    //window.location.reload(true);
                } else {
                    document.getElementById("loader").style.display = "none";
                    toastr.warning("Something went wrong..", "Warning");

                }


            },
            error: function (request) {
                document.getElementById("loader").style.display = "none";
                toastr.warning("Something went wrong..", "Warning");


            }
        });




    };

    function error(err) {
        console.warn('ERROR(' + err.code + '): ' + err.message);
        document.getElementById("loader").style.display = "block";
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;


        //GUARDAMOS OBJETOS

        var objects = [];


        //var canvas = document.getElementById("sig-canvas");
        $.each($('canvas'), function () {
            var canvas = document.getElementById($(this).attr("id"));
            var dataUrl = canvas.toDataURL();
            //alert(dataUrl);

            objects.push({
                id: $(this).attr("data-id"),
                value: dataUrl,
                text: ""
            });
        });

        $.each($('input.dropifyIMG[type = "file"]'), function () {

            objects.push({
                id: $(this).attr('id'),
                value: $(this).attr('data-changeflag'),
                text: ""
            });

        });
        //$.each(objects, function (propName, propVal) {
        //    console.log(propName, propVal);
        //});
        var now = new Date();
        $.ajax({
            url: '/FormsActions/Save_activitySurvey',
            type: 'POST',
            data: { 'id': idvisita, 'objects': objects, 'lat': lat, 'lng': lng, 'check_in': now.toLocaleString("en-US", { hour12: true }) },
            cache: false,
            global: false,
            success: function (result) {

                if (result.Result == "Success") {
                    document.getElementById("loader").style.display = "none";
                    toastr.success("Data saved successfully.", "Success");

                    var x = document.getElementById("finish_activity");
                    if (x.style.display === "none") {
                        x.style.display = "inline-block";
                    } else {
                        x.style.display = "none";
                    }
                    //window.location.reload(true);

                    //window.location.reload(true);
                } else {
                    document.getElementById("loader").style.display = "none";
                    toastr.warning("Something went wrong..", "Warning");

                }


            },
            error: function (request) {
                document.getElementById("loader").style.display = "none";
                toastr.warning("Something went wrong..", "Warning");

            }
        });
    };

    function initGeolocation() {
        if (navigator && navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error, options);
        } else {
            document.getElementById("loader").style.display = "none";
            console.log('Geolocation is not supported');
        }
    }
</script>

<!--FORM TEMPLATE FINISH-->
<script>

    $(function () {
        $("#finish_activity").click(function () {
            var flag = true;


            $.each($('input.form-control[type = "text"]'), function () {
                if ($(this).parent().closest('.parentdiv').prev().attr('class') == null) { //Si es un item independiente

                    if ($(this).val() == "" || $(this).val() == null) {
                        flag = false;
                        $(this).addClass("border-danger");
                    }
                    else {
                        $(this).removeClass("border-danger");
                    }

                } else if ($(this).parent().closest('.parentdiv').prev().attr('class') == "form-radio") {
                    if ($(this).parent().closest('.parentdiv').prev().find("input.form-check-input[type = 'radio']:checked").length <= 0) {
                        //Entonces no lo evaluamos para validacion ya que no han chequeado al parent
                    } else {
                        //Evaluamos para validacion ya que chequearon al padre
                        if ($(this).val() == "" || $(this).val() == null) {
                            flag = false;
                            $(this).addClass("border-danger");
                        } else {
                            $(this).removeClass("border-danger");
                        }
                    }
                } else if ($(this).parent().closest('.parentdiv').prev().attr('class') == "form-check") {
                    if ($(this).parent().closest('.parentdiv').prev().find("input.form-check-input[type = 'checkbox']:checked").length <= 0) {
                        //Entonces no lo evaluamos para validacion ya que no han chequeado al parent
                    } else {
                        //Evaluamos para validacion ya que chequearon al padre
                        if ($(this).val() == "" || $(this).val() == null) {
                            flag = false;
                            $(this).addClass("border-danger");
                        } else {
                            $(this).removeClass("border-danger");
                        }
                    }
                }
            });

            //$.each($('input.form-control[type = "number"]'), function () {
            //    if ($(this).parent().closest('.parentdiv').prev().attr('class') == null) { //Si es un item independiente

            //        if ($(this).val() == "" || $(this).val() == null) {
            //            flag = false;
            //            $(this).addClass("border-danger");
            //        }
            //        else {
            //            $(this).removeClass("border-danger");
            //        }

            //    } else if ($(this).parent().closest('.parentdiv').prev().attr('class') == "form-radio") {
            //        if ($(this).parent().closest('.parentdiv').prev().find("input.form-check-input[type = 'radio']:checked").length <= 0) {
            //            //Entonces no lo evaluamos para validacion ya que no han chequeado al parent
            //        } else {
            //            //Evaluamos para validacion ya que chequearon al padre
            //            if ($(this).val() == "" || $(this).val() == null) {
            //                flag = false;
            //                $(this).addClass("border-danger");
            //            } else {
            //                $(this).removeClass("border-danger");
            //            }
            //        }
            //    } else if ($(this).parent().closest('.parentdiv').prev().attr('class') == "form-check") {
            //        if ($(this).parent().closest('.parentdiv').prev().find("input.form-check-input[type = 'checkbox']:checked").length <= 0) {
            //            //Entonces no lo evaluamos para validacion ya que no han chequeado al parent
            //        } else {
            //            //Evaluamos para validacion ya que chequearon al padre
            //            if ($(this).val() == "" || $(this).val() == null) {
            //                flag = false;
            //                $(this).addClass("border-danger");
            //            } else {
            //                $(this).removeClass("border-danger");
            //            }
            //        }
            //    }
            //});





            //$.each($('textarea.form-control'), function () {
            //    if ($(this).parent().closest('.parentdiv').prev().attr('class') == null) { //Si es un item independiente

            //        if ($(this).val() == "" || $(this).val() == null) {
            //            flag = false;
            //            $(this).addClass("border-danger");
            //        }
            //        else {
            //            $(this).removeClass("border-danger");
            //        }

            //    } else if ($(this).parent().closest('.parentdiv').prev().attr('class') == "form-radio") {
            //        if ($(this).parent().closest('.parentdiv').prev().find("input.form-check-input[type = 'radio']:checked").length <= 0) {
            //            //Entonces no lo evaluamos para validacion ya que no han chequeado al parent
            //        } else {
            //            //Evaluamos para validacion ya que chequearon al padre
            //            if ($(this).val() == "" || $(this).val() == null) {
            //                flag = false;
            //                $(this).addClass("border-danger");
            //            } else {
            //                $(this).removeClass("border-danger");
            //            }
            //        }
            //    } else if ($(this).parent().closest('.parentdiv').prev().attr('class') == "form-check") {
            //        if ($(this).parent().closest('.parentdiv').prev().find("input.form-check-input[type = 'checkbox']:checked").length <= 0) {
            //            //Entonces no lo evaluamos para validacion ya que no han chequeado al parent
            //        } else {
            //            //Evaluamos para validacion ya que chequearon al padre
            //            if ($(this).val() == "" || $(this).val() == null) {
            //                flag = false;
            //                $(this).addClass("border-danger");
            //            } else {
            //                $(this).removeClass("border-danger");
            //            }
            //        }
            //    }




            //});

            //$.each($('select'), function () {
            //    if ($(this).parent().closest('.parentdiv').prev().attr('class') == null) { //Si es un item independiente

            //        if ($(this).val() == "0" || $(this).val() == null) {
            //            flag = false;
            //            $(this).addClass("border-danger");
            //        }
            //        else {
            //            $(this).removeClass("border-danger");
            //        }

            //    } else if ($(this).parent().closest('.parentdiv').prev().attr('class') == "form-radio") {
            //        if ($(this).parent().closest('.parentdiv').prev().find("input.form-check-input[type = 'radio']:checked").length <= 0) {
            //            //Entonces no lo evaluamos para validacion ya que no han chequeado al parent
            //        } else {
            //            //Evaluamos para validacion ya que chequearon al padre
            //            if ($(this).val() == "0" || $(this).val() == null) {
            //                flag = false;
            //                $(this).addClass("border-danger");
            //            } else {
            //                $(this).removeClass("border-danger");
            //            }
            //        }
            //    } else if ($(this).parent().closest('.parentdiv').prev().attr('class') == "form-check") {
            //        if ($(this).parent().closest('.parentdiv').prev().find("input.form-check-input[type = 'checkbox']:checked").length <= 0) {
            //            //Entonces no lo evaluamos para validacion ya que no han chequeado al parent
            //        } else {
            //            //Evaluamos para validacion ya que chequearon al padre
            //            if ($(this).val() == "0" || $(this).val() == null) {
            //                flag = false;
            //                $(this).addClass("border-danger");
            //            } else {
            //                $(this).removeClass("border-danger");
            //            }
            //        }
            //    }


            //});

            //var canvas = document.getElementById("sig-canvas");
            $.each($('canvas'), function () {

            });

            if (flag == true) {
                //initGeolocation2();

  
                document.getElementById("loader").style.display = "block";

        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;


        var now = new Date();
        $.ajax({
            url: '/FormsActions/Finish_activitySurvey',
            type: 'POST',
            data: { 'id': idvisita, 'lat': '', 'lng': '', 'check_out': now.toLocaleString("en-US", { hour12: true }) },
            complete: function () {

            },
            success: function (result) {

                 var url = '@Url.Action("SurveysC", "Commercial", null)';
                document.getElementById("loader").style.display = "none";
                    window.location.href = url;

            },
            error: function (request) {

                document.getElementById("loader").style.display = "none";
                window.location.reload(true);
            }
        });


            } else {
                document.getElementById("loader").style.display = "none";

                var x = document.getElementById("finish_activity");
                x.style.display = "none";
                //Alerta de que no se han guardado los campos obligatorios
                toastr.warning("Please fill in all required fields (*) in this form", "Warning");






            }


        }
        );
    });//end

    $(document).on("click", '.dropify-clear', function () {

        var imgdiv = $(this).prev();

        var drevent = $(imgdiv).dropify();

        //Cambiamos el estado para verificar si se removio y si se mantiene en 100 entonces no se selecciono nada luego
        //con esto validamos cuando no han cargado nada al server, suben una pero luego la quitaan y como no actualizaba
        //el sistema no borraba la foto
        $(imgdiv).attr('data-changeflag', '100');

    });


</script>
<!--SCRIPT PARA GUARDAR IMAGENES TIEMPO REAL -->
<script>
    function dataURItoBlob(dataURI) {
        'use strict'
        var byteString,
            mimestring

        if (dataURI.split(',')[0].indexOf('base64') !== -1) {
            byteString = atob(dataURI.split(',')[1])
        } else {
            byteString = decodeURI(dataURI.split(',')[1])
        }

        mimestring = dataURI.split(',')[0].split(':')[1].split(';')[0]

        var content = new Array();
        for (var i = 0; i < byteString.length; i++) {
            content[i] = byteString.charCodeAt(i)
        }

        return new Blob([new Uint8Array(content)], { type: mimestring });
    }

    function isPortrait(img) {
        var w = img.naturalWidth || img.width,
            h = img.naturalHeight || img.height;
        return (h > w);
    }

    function getOrientation(file, callback) {
        var reader = new FileReader();

        reader.onload = function (event) {
            var view = new DataView(event.target.result);

            if (view.getUint16(0, false) != 0xFFD8) return callback(-2);

            var length = view.byteLength,
                offset = 2;

            while (offset < length) {
                var marker = view.getUint16(offset, false);
                offset += 2;

                if (marker == 0xFFE1) {
                    if (view.getUint32(offset += 2, false) != 0x45786966) {
                        return callback(-1);
                    }
                    var little = view.getUint16(offset += 6, false) == 0x4949;
                    offset += view.getUint32(offset + 4, little);
                    var tags = view.getUint16(offset, little);
                    offset += 2;

                    for (var i = 0; i < tags; i++)
                        if (view.getUint16(offset + (i * 12), little) == 0x0112)
                            return callback(view.getUint16(offset + (i * 12) + 8, little));
                }
                else if ((marker & 0xFF00) != 0xFF00) break;
                else offset += view.getUint16(offset, false);
            }
            return callback(-1);
        };

        reader.readAsArrayBuffer(file.slice(0, 64 * 1024));
    };

    $('input[type=file]').change(function () {
        //Le decimos que por cada input file que encuentre hara este proceso
        // Checking whether FormData is available in browser
        if (window.FormData !== undefined) {
            //$.each($('input[type="file"]'), function () {
            var ID = $(this).attr('id');
       
            document.getElementById("loader").style.display = "block";
            setTimeout(function () {
                document.getElementById("loader").style.display = "none";
            }, 2000);

            //COPIAMOS LA IMG A UN IMG INPUT
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if ($(this).files && $(this).files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img_' + ID).attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            } else {

            }
            //???????


            

            $(this).attr('data-changeflag', '0');

            var idvisita = "";
            idvisita = document.getElementById('idvisita').value;
            //COMPRESIONAR IMAGEN
            var output_format = "jpg";


            //**************************
          
            var fileUpload = $("#" + ID).get(0);
          
            if (fileUpload.files[0].type == "image/png") {
                output_format = "png";
            }

            console.log("yeah");
            //console.log(fileUpload.files[0]);
            //console.log(fileUpload.files[0].type);
       
            var quality = parseInt(15);
            //*****
            var source_image = document.getElementById('img_' + ID);
            var result_image = document.getElementById('resultimg_' + ID);
            var file = fileUpload.files[0],
                reader = new FileReader();
            reader.onload = function (event) {
                var i = document.getElementById('img_' + ID);
                i.src = event.target.result;
                i.onload = function () {
                    image_width = $(i).width(),
                        image_height = $(i).height();

                    if (image_width > image_height) {
                        i.style.width = "320px";
                    } else {
                        i.style.height = "300px";
                    }




                    result_image.src = jic.compress(source_image, quality, output_format).src;

                    result_image.onload = function () {
                        var image_width = $(result_image).width(),
                            image_height = $(result_image).height();

                        if (image_width > image_height) {
                            result_image.style.width = "320px";
                        } else {
                            result_image.style.height = "300px";
                        }


                        // Create FormData object
                        var or = 0;
                        getOrientation(file, function (orientation) {

                            var dataurl = result_image.src;
                            var blob = dataURItoBlob(dataurl);




                            //var files = file;

                            var fileData = new FormData();
                            fileData.append("myFile", blob, "IMG.jpg");
                            // Looping over all files and add it to FormData object
                            //for (var i = 0; i < files.length; i++) {
                            //    fileData.append(files[i].name, files[i]);
                            //}

                            // Adding one more key to FormData object
                            fileData.append('id', ID);
                            fileData.append('idvisita', idvisita);
                            fileData.append('orientation', orientation);
                            //if true rotate to the right

                            $.ajax({
                                url: '/FormsActions/UploadFilesSurvey',
                                type: "POST",
                                contentType: false, // Not to set any content header
                                processData: false, // Not to process data
                                //async: true,
                                timeout: 80000,
                                data: fileData,
                                success: function (result) {
                                    //$("#modal_demoform_saving").modal('hide');
                                    document.getElementById("loader").style.display = "none";
                                },
                                error: function (err) {
                                    //$("#modal_demoform_saving").modal('hide');
                                    //alert("An error is reported. Maximum request length exceeded");
                                    document.getElementById("loader").style.display = "none";
                                }
                            });

                        });



                    }
                }
            };

            reader.readAsDataURL(file);






            //});


        }


        else {
            alert("FormData is not supported.");
        }

    });


</script>
<script>
    (function ($) {
        $.fn.currencyInput = function () {
            this.each(function () {
                var wrapper = $("<div class='currency-input' />");
                $(this).wrap(wrapper);
                $(this).before("<span class='currency-symbol'>$</span>");
                $(this).change(function () {
                    var min = parseFloat($(this).attr("min"));
                    var max = parseFloat($(this).attr("max"));
                    var value = this.valueAsNumber;
                    if (value < min)
                        value = min;
                    else if (value > max)
                        value = max;
                    $(this).val(value.toFixed(2));
                });
            });
        };
    })(jQuery);

    $(document).ready(function () {
        $('input.currency').currencyInput();
    });

</script>

<script>
//FINISH TEMPLATE
    var options2 = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
    };

    function success2(pos) {
        var crd = pos.coords;
        document.getElementById("loader").style.display = "block";

        var lat = crd.latitude;
        var lng = crd.longitude;

        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;


        var now = new Date();
        $.ajax({
            url: '/FormsActions/Finish_activitySurvey',
            type: 'POST',
            data: { 'id': idvisita, 'lat': lat, 'lng': lng, 'check_out': now.toLocaleString("en-US", { hour12: true }) },
            complete: function () {

            },
            success: function (result) {

                 var url = '@Url.Action("SurveysC", "Commercial", null)';
                document.getElementById("loader").style.display = "none";
                    window.location.href = url;

            },
            error: function (request) {

                document.getElementById("loader").style.display = "none";
                window.location.reload(true);
            }
        });




    };

    function error2(err) {
        console.warn('ERROR(' + err.code + '): ' + err.message);
        document.getElementById("loader").style.display = "block";
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;


        var now = new Date();
        $.ajax({
            url: '/FormsActions/Finish_activitySurvey',
            type: 'POST',
            data: { 'id': idvisita, 'lat': "", 'lng': "", 'check_out': now.toLocaleString("en-US", { hour12: true }) },
            complete: function () {

            },
            success: function (result) {

                 var url = '@Url.Action("SurveysC", "Commercial", null )';
                document.getElementById("loader").style.display = "none";
                    window.location.href = url;

            },
            error: function (request) {

                document.getElementById("loader").style.display = "none";
                window.location.reload(true);
            }
        });
    };



    function initGeolocation2() {
        if (navigator && navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success2, error2, options2);
        } else {
            document.getElementById("loader").style.display = "none";
            console.log('Geolocation is not supported');
        }
    }

</script>

<!--GUARDAR OBJETOS POR SEPARADO-->
<script type="text/javascript">
    $('input.form-control[type = "text"]').on('focusout', function () {
        document.getElementById("loader").style.display = "none";
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;
        //GUARDAMOS OBJETOS
        var objects = [];
        //alert("ID:" + $(this).attr('id') + "value: " + $(this).val());

        objects.push({
            id: $(this).attr('id'),
            value: $(this).val(),
            text: ""
        });

        $.ajax({
            url: '/FormsActions/Save_activityByitemSurvey',
            type: 'POST',
            data: { 'id': idvisita, 'objects': objects },
            cache: false,
            global: false,
            success: function (result) {

                if (result.Result == "Success") {
                    document.getElementById("loader").style.display = "none";

                } else {
                    document.getElementById("loader").style.display = "none";


                }


            },
            error: function (request) {
                document.getElementById("loader").style.display = "none";



            }
        });
    });


    $('textarea.form-control').on('focusout', function () {
        document.getElementById("loader").style.display = "none";
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;
        //GUARDAMOS OBJETOS
        var objects = [];
        //alert("ID:" + $(this).attr('id') + "value: " + $(this).val());

        objects.push({
            id: $(this).attr('id'),
            value: $(this).val(),
            text: ""
        });

        $.ajax({
            url: '/FormsActions/Save_activityByitemSurvey',
            type: 'POST',
            data: { 'id': idvisita, 'objects': objects },
            cache: false,
            global: false,
            success: function (result) {

                if (result.Result == "Success") {
                    document.getElementById("loader").style.display = "none";

                } else {
                    document.getElementById("loader").style.display = "none";


                }


            },
            error: function (request) {
                document.getElementById("loader").style.display = "none";



            }
        });
    });

    $('input.number[type = "number"]').on('focusout', function () {
        document.getElementById("loader").style.display = "none";
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;
        //GUARDAMOS OBJETOS
        var objects = [];
        //alert("ID:" + $(this).attr('id') + "value: " + $(this).val());

        objects.push({
            id: $(this).attr('id'),
            value: $(this).val(),
            text: ""
        });

        $.ajax({
            url: '/FormsActions/Save_activityByitemSurvey',
            type: 'POST',
            data: { 'id': idvisita, 'objects': objects },
            cache: false,
            global: false,
            success: function (result) {

                if (result.Result == "Success") {
                    document.getElementById("loader").style.display = "none";

                } else {
                    document.getElementById("loader").style.display = "none";


                }


            },
            error: function (request) {
                document.getElementById("loader").style.display = "none";



            }
        });
    });

    $('input.audit[type = "number"]').on('focusout', function () {
        $("#loading").hide();
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;
        //GUARDAMOS OBJETOS
        var objects = [];
        //alert("ID:" + $(this).attr('id') + "value: " + $(this).val());

        objects.push({
            id: $(this).attr('id'),
            value: $(this).val(),
            text: ""
        });


        var preciosugerido = $(this).closest('.tr').find('.preciosugerido');


        if ($(this).val() != "" || $(this).val() != null) {
            if ($(this).val() == preciosugerido.val() || $(this).val()==0) {
                //Agregamos la propiedad

                $(this).closest('.tr').addClass('border-success');
                $(this).closest('.tr').find('.icondivdollar').removeClass('fa text-danger fa-dollar');
                $(this).closest('.tr').find('.icondivdollar').addClass('fa text-success fa-dollar');

            } else {
                //Quitamos la propiedad

                //$(this).closest('.tr').removeClass('border-success');
                $(this).closest('.tr').addClass('border-success');
                $(this).closest('.tr').find('.icondivdollar').removeClass('fa text-success fa-dollar');
                $(this).closest('.tr').find('.icondivdollar').addClass('fa text-danger fa-dollar');
            }
        } else {
            $(this).closest('.tr').removeClass('border-success');
            $(this).closest('.tr').find('.icondivdollar').removeClass('fa text-success fa-dollar');
            $(this).closest('.tr').find('.icondivdollar').removeClass('fa text-danger fa-dollar');
        }

        $.ajax({
            url: '/FormsActions/Save_activityByitemSurvey',
            type: 'POST',
            data: { 'id': idvisita, 'objects': objects },
            cache: false,
            global: false,
            success: function (result) {

                if (result.Result == "Success") {
                    document.getElementById("loader").style.display = "none";

                } else {
                    document.getElementById("loader").style.display = "none";


                }


            },
            error: function (request) {
                document.getElementById("loader").style.display = "none";



            }
        });
    });

    $('input.form-control[type = "date"]').on('focusout', function () {
        document.getElementById("loader").style.display = "none";
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;
        //GUARDAMOS OBJETOS
        var objects = [];
        //alert("ID:" + $(this).attr('id') + "value: " + $(this).val());

        objects.push({
            id: $(this).attr('id'),
            value: $(this).val(),
            text: ""
        });

        $.ajax({
            url: '/FormsActions/Save_activityByitemSurvey',
            type: 'POST',
            data: { 'id': idvisita, 'objects': objects },
            cache: false,
            global: false,
            success: function (result) {

                if (result.Result == "Success") {
                    document.getElementById("loader").style.display = "none";

                } else {
                    document.getElementById("loader").style.display = "none";


                }


            },
            error: function (request) {
                document.getElementById("loader").style.display = "none";



            }
        });
    });


    $('select').on('focusout', function () {
        document.getElementById("loader").style.display = "none";
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;
        //GUARDAMOS OBJETOS
        var objects = [];
        //alert("ID:" + $(this).attr('id') + "value: " + $(this).val());

        //alert("ID:" + $(this).attr('id') + "value: " + $(this).val());
        var str = $(this).find('option:selected').text();
        str = str.substring(str.indexOf("-") + 1);

        var final = "";
        objects.push({
            id: $(this).attr('name'),
            value: $(this).val(),
            text: str.trim()
        });

        $.ajax({
            url: '/FormsActions/Save_activityByitemSurvey',
            type: 'POST',
            data: { 'id': idvisita, 'objects': objects },
            cache: false,
            global: false,
            success: function (result) {

                if (result.Result == "Success") {
                    document.getElementById("loader").style.display = "none";

                } else {
                    document.getElementById("loader").style.display = "none";


                }


            },
            error: function (request) {
                document.getElementById("loader").style.display = "none";



            }
        });
    });

    $('input:radio').click(function () {
        //console.log($(this).attr('name'));
        //console.log($(this).attr('id'));


        document.getElementById("loader").style.display = "none";
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;
        //GUARDAMOS OBJETOS
        var objects = [];
        //alert("ID:" + $(this).attr('id') + "value: " + $(this).val());

        //alert("ID:" + $(this).attr('id') + "value: " + $(this).val());



        $.each($('input.form-check-input[name=' + $(this).attr('name') + ']'), function () {


            objects.push({
                id: $(this).attr('id'),
                value: $(this).prop('checked'),
                text: ""
            });
        });


        $.ajax({
            url: '/FormsActions/Save_activityByitemSurvey',
            type: 'POST',
            data: { 'id': idvisita, 'objects': objects },
            cache: false,
            global: false,
            success: function (result) {

                if (result.Result == "Success") {
                    document.getElementById("loader").style.display = "none";

                } else {
                    document.getElementById("loader").style.display = "none";


                }


            },
            error: function (request) {
                document.getElementById("loader").style.display = "none";



            }
        });
    });

    $('input:checkbox').click(function () {
        //console.log($(this).attr('name'));
        //console.log($(this).attr('id'));


        document.getElementById("loader").style.display = "none";
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;
        //GUARDAMOS OBJETOS
        var objects = [];
        //alert("ID:" + $(this).attr('id') + "value: " + $(this).val());

        //alert("ID:" + $(this).attr('id') + "value: " + $(this).val());



        objects.push({
            id: $(this).attr('id'),
            value: $(this).prop('checked'),
            text: ""
        });

        if ($(this).hasClass('disponible')) {

            var othercheck = $(this).closest('.tr').find('.nodisponible');
            othercheck.prop('checked', false);



            $(this).prop('disabled', true);
            othercheck.prop('disabled', false);


            objects.push({
                id: othercheck.attr('id'),
                value: othercheck.prop('checked'),
                text: ""
            });
            if ($(this).prop('checked')) {
                //Agregamos la propiedad

                $(this).closest('.tr').addClass('border-success');
                $(this).closest('.tr').find('.icondiv').removeClass('fa text-danger fa-check-circle');
                $(this).closest('.tr').find('.icondiv').addClass('fa text-success fa-check-circle');

            } else {
                //Quitamos la propiedad

                $(this).closest('.tr').removeClass('border-success');
                $(this).closest('.tr').find('.icondiv').removeClass('fa text-success fa-check-circle');
                $(this).closest('.tr').find('.icondiv').addClass('fa text-danger fa-check-circle');
            }
        } else if ($(this).hasClass('nodisponible')) {
            var othercheck = $(this).closest('.tr').find('.disponible');
            othercheck.prop('checked', false);

            $(this).prop('disabled', true);
            othercheck.prop('disabled', false);

            objects.push({
                id: othercheck.attr('id'),
                value: othercheck.prop('checked'),
                text: ""
            });
            if ($(this).prop('checked')) {
                //Agregamos la propiedad

                $(this).closest('.tr').addClass('border-success');
                $(this).closest('.tr').find('.icondiv').removeClass('fa text-success fa-check-circle');
                $(this).closest('.tr').find('.icondiv').addClass('fa text-danger fa-check-circle');

            } else {
                //Quitamos la propiedad

                $(this).closest('.tr').removeClass('border-success');
                $(this).closest('.tr').find('.icondiv').removeClass('fa text-danger fa-check-circle');
                $(this).closest('.tr').find('.icondiv').addClass('fa text-success fa-check-circle');
            }

        }


   
        

        $.ajax({
            url: '/FormsActions/Save_activityByitemSurvey',
            type: 'POST',
            data: { 'id': idvisita, 'objects': objects },
            cache: false,
            global: false,
            success: function (result) {

                if (result.Result == "Success") {
                    document.getElementById("loader").style.display = "none";

                } else {
                    document.getElementById("loader").style.display = "none";


                }


            },
            error: function (request) {
                document.getElementById("loader").style.display = "none";



            }
        });
    });
</script>
<script type="text/javascript">
    function cargarproductos(idbtn) {
        var btn = "#" + idbtn;
        $('' + btn + '').attr('disabled', 'disabled');
        $('' + btn + '').val('Loading products, please wait...');

        document.getElementById("loader").style.display = "block";
        var customerId = $("#customer_list").val();
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;
        var brandId = $("#brands_list").val();
        var catId = $("#cat_list").val();

        //var subcatId = $("#subcat_list").val();

        var selMulti2 = $.map($("#subcat_list option:selected"), function (el, i) {
            return $(el).val();
        });
        var subcatId = selMulti2.join(",");



        $.ajax({
            url: '/FormsActions/GetDynamicProducts',
            type: 'POST',
            data: { 'activityID': idvisita, 'ID_customer': customerId, 'ID_brand': brandId, 'ID_category': catId, 'ID_subcategory': subcatId },
            cache: false,
            global: false,
            success: function (result) {

                //if (result == "Success") {
                    window.location.reload(true);
                //} else {
                //    toastr.warning("No data to load", "Info");
                //}
                //document.getElementById("loader").style.display = "none";
           



            },
            error: function (request) {
                document.getElementById("loader").style.display = "none";
                alert("Error: Server data fail");


            }
        });

    }
    var count = 1000;
    function nuevoBarcode(idbtn) {
        var btn = idbtn;
        $('#copyContainer').html('Loading new item, please wait...');
        $('#copyContainer').attr('disabled', 'disabled');
  


        document.getElementById("loader").style.display = "block";
        var customerId = $("#customer_list").val();
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;

        $.ajax({
            url: '/FormsActions/GetDynamicBarcodeforKlassForm',
            type: 'POST',
            data: { 'activityID': idvisita },
            cache: false,
            global: false,
            success: function (result) {

                //if (result == "Success") {
                //window.location.reload(true);
                //} else {
                //    toastr.warning("No data to load", "Info");
                //}
                document.getElementById("loader").style.display = "none";
                //var clone = $('.codec.original').clone().appendTo('#barcodecontainer');
                ////clone.find('input[type=file].codebar').attr('id', 'scan_' + count);
                ////clone.find('input[type=file].codebar').val('');
                //clone.find('input[type=text].code').attr('id', 'scanner_input_' + count);
                //clone.find('input[type=text].code').val('');
                //clone.find('button.codebtn').attr('id', count);
                //clone.removeClass('original');
                //count++;
                window.location.reload(true);


            },
            error: function (request) {
                document.getElementById("loader").style.display = "none";
                alert("Error: Server data fail");


            }
        });

    }

    function cargarproductospormarca() {
        document.getElementById("loader").style.display = "block";
        var customerId = $("#customer_list").val();
        var idvisita = "";
        idvisita = document.getElementById('idvisita').value;
        var brandId = $("#brands_list").val();

        $.ajax({
            url: '/FormsActions/GetDynamicProductsByBrand',
            type: 'POST',
            data: { 'activityID': idvisita, 'ID_customer': customerId, 'ID_brand': brandId },
            cache: false,
            global: false,
            success: function (result) {


                //document.getElementById("loader").style.display = "none";
                window.location.reload(true);



            },
            error: function (request) {
                document.getElementById("loader").style.display = "none";
                alert("Error: Server data fail");


            }
        });

    }
</script>
<script>
    $(function () {
        var isXS = false,
            $accordionXSCollapse = $('.accordion-xs-collapse');

        // Window resize event (debounced)
        var timer;
        $(window).resize(function () {
            if (timer) { clearTimeout(timer); }
            timer = setTimeout(function () {
                isXS = Modernizr.mq('only screen and (max-width: 1767px)');

                // Add/remove collapse class as needed
                if (isXS) {
                    $accordionXSCollapse.addClass('collapse');
                } else {
                    $accordionXSCollapse.removeClass('collapse');
                }
            }, 100);
        }).trigger('resize'); //trigger window resize on pageload

        // Initialise the Bootstrap Collapse
        $accordionXSCollapse.each(function () {
            $(this).collapse({ toggle: false });
        });

        // <a href="https://www.jqueryscript.net/accordion/">Accordion</a> toggle click event (live)
        $(document).on('click', '.accordion-xs-toggle', function (e) {
            e.preventDefault();

            var $thisToggle = $(this),
                $targetRow = $thisToggle.parent('.tr'),
                $targetCollapse = $targetRow.find('.accordion-xs-collapse');

            if (isXS && $targetCollapse.length) {
                var $siblingRow = $targetRow.siblings('.tr'),
                    $siblingToggle = $siblingRow.find('.accordion-xs-toggle'),
                    $siblingCollapse = $siblingRow.find('.accordion-xs-collapse');

                $targetCollapse.collapse('toggle'); //toggle this collapse
                $siblingCollapse.collapse('hide'); //close siblings

                $thisToggle.toggleClass('collapsed'); //class used for icon marker
                $siblingToggle.removeClass('collapsed'); //remove sibling marker class
            }
        });
    });
</script>
<script>

    $(document).ready(function () {
        check_valid_inputs();
    });

    function check_valid_inputs() {

        $.each($('input.form-control.audit[type = "number"]'), function () {

            var preciosugerido = $(this).closest('.tr').find('.preciosugerido');

            if ($(this).val() != "" || $(this).val() != null) {
                if ($(this).val() == preciosugerido.val() || $(this).val() == 0) {
                    //Agregamos la propiedad

                    $(this).closest('.tr').addClass('border-success');
                    $(this).closest('.tr').find('.icondivdollar').addClass('fa text-success fa-dollar');

                } else {
                    //Quitamos la propiedad
                    $(this).closest('.tr').addClass('border-success');
                    $(this).closest('.tr').find('.icondivdollar').addClass('fa text-danger fa-dollar');
           
                }
            }

        });

        $.each($('input:checkbox'), function () {

            if ($(this).hasClass('disponible')) {

                if ($(this).prop('checked')) {
                    //Agregamos la propiedad
                    $(this).prop('disabled', true);
                  
                    $(this).closest('.tr').addClass('border-success');
                    $(this).closest('.tr').find('.icondiv').addClass('fa text-success fa-check-circle');

                } else {
                    //Quitamos la propiedad

                    $(this).closest('.tr').find('.icondiv').addClass('fa');

                }
           


            } else if ($(this).hasClass('nodisponible')) {
                if ($(this).prop('checked')) {
                    //Agregamos la propiedad
                    $(this).prop('disabled', true);
                 
                    $(this).closest('.tr').addClass('border-success');
                    $(this).closest('.tr').find('.icondiv').addClass('fa text-danger fa-check-circle');

                } else {
                    //Quitamos la propiedad

                    $(this).closest('.tr').find('.icondiv').addClass('fa');

                }

            }

        });
    };

    function selectTest(ID) {
        document.getElementById(ID).setAttribute('type', 'text');
        document.getElementById(ID).selectionStart = 0
        document.getElementById(ID).selectionEnd = 999
        document.getElementById(ID).setAttribute('type', 'number');
    };
</script>
