
@{
    Layout = null;
}

<!-- Meta tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Limena Web">
<meta name="keywords" content="Limena">
<!-- /meta tags -->
<title>Distribuidora Limena</title>

<!-- Site favicon -->
<link rel="icon" type="image/png" href="~/Content/appcontent/assets/img/WebIco256.png">
<!-- /site favicon -->
<!-- Font Icon Styles -->
<link rel="stylesheet" href="~/Content/main/node_modules/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="~/Content/main/vendors/gaxon-icon/styles.css">
<!-- /font icon Styles -->
<!-- Perfect Scrollbar stylesheet -->
<link rel="stylesheet" href="~/Content/main/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
<!-- /perfect scrollbar stylesheet -->
<!-- Load Styles -->
<link rel="stylesheet" href="~/Content/main/node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/main/assets/css/style.min.css">
<!-- /load styles -->
<!-- Data table stylesheet -->
<link href="~/Content/main/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet"><!--select2-->
<link href="~/Content/appcontent/assets/vendor/select2/css/select2.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/Content/appcontent/assets/vendor/calendarrangepicker/css/daterangepicker.css" />

@if (ViewBag.Title == "Distribuidora Limeña - New Purchase Data" || ViewBag.Title == "Distribuidora Limeña - Edit Purchase Data")
{
    <link rel="stylesheet" href="~/Content/appcontent/assets/css/fixedColumns.dataTables.css">
    <link rel="stylesheet" href="~/Content/appcontent/assets/vendor/contextmeu/jquery.contextMenu.css">

}
@if (ViewBag.Title == "Distribuidora Limeña - Product Catalog")
{
    <link rel="stylesheet" href="~/Content/appcontent/assets/vendor/data-tables/datatables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css">

}
<style>
    @@media (max-width: 575.98px) {
        .dt-module__content {
            height: 500px !important;
        }
    }

    @@media (min-width: 768px) {
        .dt-module__container {
            max-width: 100%;
            flex: 1 0 auto;
            -ms-flex: 1 0 auto;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }

    @@media (max-width: 991.98px) {
        .dt-navbar > .nav-item:nth-last-of-type(2) .sub-menu {
            left: 0 !important;
            right: 0;
        }
    }
</style>