
@{
    Layout = null;
}

<header class="dt-header">
    <!-- Header Top -->
    <div class="dt-header__top">

        <!-- Custom Container -->
        <div class="dt-container">

            <!-- Brand -->
            <div class="dt-brand">

                <!-- Brand tool -->
                <div class="dt-brand__tool d-md-none" data-toggle="main-sidebar">
                    <div class="hamburger-inner"></div>
                </div>
                <!-- /brand tool -->
                <!-- Brand logo -->
                <span class="dt-brand__logo">
                    <a class="dt-brand__logo-link" href="#">
                        <img class="dt-brand__logo-img d-none d-sm-inline-block" src="~/Content/main/assets/images/LogoLimenaWebIcono.png" alt="Limena">
                        <img class="dt-brand__logo-img d-sm-none" src="~/Content/main/assets/images/LogoLimenaWebIcono.png" alt="Limena">
                    </a>
                </span>
                <!-- /brand logo -->

            </div>
            <!-- /brand -->
            <!-- Header toolbar-->
            <div class="dt-header__toolbar">

                <!-- Header Menu Wrapper -->
                <div class="dt-nav-wrapper">

                    <!-- Header Menu -->
                    <!-- /header menu -->
                    <!-- Header Menu -->
                    <!-- /header menu -->
                    <!-- Header Menu -->

        

  
                    <!-- /header menu -->
                    <!-- Header Menu -->

                    <!-- /header menu -->
                    <!-- Header Menu -->
                    <ul class="dt-nav">
                        <li class="dt-nav__item dropdown">

                            <!-- Dropdown Link -->
                            <a href="#" class="dt-nav__link dropdown-toggle no-arrow dt-avatar-wrapper"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             
                                <span class="dt-avatar-info d-none d-sm-block pl-3">
                                    <span class="d-block text-light-primary f-10 mb-1">Welcome back!</span>
                                    <span class="dt-avatar-name">@ViewData["nameUser"]</span>
                                </span>
                            </a>
                            <!-- /dropdown link -->
                            <!-- Dropdown Option -->
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dt-avatar-wrapper flex-nowrap p-6 mt-n2 bg-gradient-purple text-white rounded-top">
                                    <span class="dt-avatar-info">
                                        <span class="dt-avatar-name">@ViewData["nameUser"]</span>
                                        @*<span class="f-12">Administrator</span>*@
                                    </span>
                                </div>
                                @*<a class="dropdown-item" href="javascript:void(0)">
                                    <i class="icon icon-settings icon-fw mr-2 mr-sm-1"></i>Setting
                                </a>*@
                                <a class="dropdown-item" href="@Url.Action("Log_out", "Home")">
                                    <i class="icon icon-editors icon-fw mr-2 mr-sm-1"></i>Sign out
                                </a>
                            </div>
                            <!-- /dropdown option -->

                        </li>
                    </ul>
                    <!-- /header menu -->
                </div>
                <!-- Header Menu Wrapper -->

            </div>
            <!-- /header toolbar -->

        </div>
        <!-- /custom container -->

    </div>
    <!-- /header top -->
    <!-- Header Bottom -->
    <div class="dt-header__bottom d-none d-md-block" style="background-color:#3d4a6d !important;">

        <!-- Custom Container -->
        <div class="dt-container">

            <!-- Navbar -->
            <ul class="navbar-nav navbar-expand-md dt-navbar">


                <li class="nav-item" id="home_menuInventory">
                    <a class="nav-link" href="@Url.Action("Dashboard_Sales", "Main")">Back to Home</a>
                </li>
                <!-- /nav item -->
                <!-- Nav Item -->
       
                <!-- /nav item -->

                <!-- /nav item -->
                <!-- Nav Item -->

                <!-- /nav item -->

                <!-- /nav item -->

                <!-- Nav Item -->

                <!-- /nav item -->
            </ul>
            <!-- /navbar -->
            <!-- Header Toolbar -->
            <div class="dt-header__toolbar d-none d-lg-flex">

                <!-- Header Menu Wrapper -->
                <div class="dt-nav-wrapper">


                    <!-- /header menu -->


                </div>
                <!-- /header menu wrapper -->

            </div>
            <!-- /header toolbar -->

        </div>
        <!-- /custom container -->

    </div>
    <!-- /header bottom -->

</header>