
@{
    Layout = null;
}

<!-- Meta tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Limena Web">
<meta name="keywords" content="Limena">
<!-- /meta tags -->
<title>Distribuidora Limena</title>

<!-- Site favicon -->
<link rel="icon" type="image/png" href="~/Content/appcontent/assets/img/WebIco256.png">
<!-- /site favicon -->
<!-- Font Icon Styles -->
<link rel="stylesheet" href="~/Content/main/node_modules/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="~/Content/main/vendors/gaxon-icon/styles.css">
<!-- /font icon Styles -->
<!-- Perfect Scrollbar stylesheet -->
<link rel="stylesheet" href="~/Content/main/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
<!-- /perfect scrollbar stylesheet -->
<!-- Load Styles -->
<link rel="stylesheet" href="~/Content/main/node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/main/assets/css/style.min.css">
<!-- /load styles -->
<!-- Data table stylesheet -->
<link href="~/Content/main/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">