
@model LimenawebApp.Models.Authorizations.Authorizations_api
@{
    ViewBag.Title = "Authorization";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";


}


<div class="main-container">
    <section>
        <div class="container">
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-6">
                    <img alt="Image" class="" src="~/Content/landingpage/images/LogoLimenaWebIcono.png" style="width:30%" />

                </div>
                <div class="col-md-6 text-right text-center-xs">

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-block">
 
                        <h2>Authorization not exist or was validated.</h2>
                      
                    </div>
                </div>
        


            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

</div>