
@{
    /**/
    LimenawebApp.Models.Sys_Users user = (LimenawebApp.Models.Sys_Users)ViewBag.activeuser;
    Layout = null;
}

<div id="header" class="mdk-header bg-dark js-mdk-header m-0" data-fixed>
    <div class="mdk-header__content">
        <div class="navbar navbar-expand-sm navbar-main navbar-dark bg-dark pr-0 pr-0" id="navbar" data-primary>
            <div class="container-fluid p-0">
                <!-- Navbar toggler -->
                <button class="navbar-toggler navbar-toggler-custom navbar-toggler-right d-block" type="button" data-toggle="sidebar">
                    <span class="material-icons">apps</span>
                </button>

                <!-- Navbar Brand -->
                <a href="@Url.Action("Dashboard","Main")" class="navbar-brand ">
                    <img class="navbar-brand-icon" src="~/Content/appcontent/assets/img/Logo-limeña-web-blanco-p-500x192.png" width="140" alt="Stack">

                </a>
                <ul class="nav navbar-nav ml-auto d-none d-md-flex">
                    @*<li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="material-icons">help_outline</i> Get Help
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#notifications_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                            <i class="material-icons nav-icon navbar-notifications-indicator">notifications</i>
                        </a>
                        <div id="notifications_menu" class="dropdown-menu dropdown-menu-right navbar-notifications-menu">
                            <div class="dropdown-item d-flex align-items-center py-2">
                                <span class="flex navbar-notifications-menu__title m-0">Notifications</span>
                                <a href="javascript:void(0)" class="text-muted"><small>Clear all</small></a>
                            </div>
                            <div class="navbar-notifications-menu__content" data-simplebar>
      
                            </div>
                            <a href="javascript:void(0);" class="dropdown-item text-center navbar-notifications-menu__footer">View All</a>
                        </div>
                    </li>*@
                </ul>
                <ul class="nav navbar-nav d-none d-sm-flex border-left navbar-height align-items-center">
                    <li class="nav-item dropdown">
                        <a href="#account_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                            <img src="~/Content/assets/images/fondolimena1.jpg" class="rounded-circle" width="32" alt="Frontted">
                            <span class="ml-1 d-flex-inline">
                                <span class="text-light">@user.Name  @user.Lastname.Substring(0,1).</span>
                            </span>
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
