
@{
    Layout = null;
}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Limena Web App</title>
<!-- Prevent the demo from appearing in search engines -->
<meta name="robots" content="noindex">
<!-- Simplebar -->
<link type="text/css" href="~/Content/assets/vendor/simplebar.min.css" rel="stylesheet">
<!-- App CSS -->
<link type="text/css" href="~/Content/assets/css/app.css" rel="stylesheet">
<link type="text/css" href="~/Content/assets/css/app.rtl.css" rel="stylesheet">
<!-- Material Design Icons -->
<link type="text/css" href="~/Content/assets/css/vendor-material-icons.css" rel="stylesheet">
<link type="text/css" href="~/Content/assets/css/vendor-material-icons.rtl.css" rel="stylesheet">
<!-- Font Awesome FREE Icons -->
<link type="text/css" href="~/Content/assets/css/vendor-fontawesome-free.css" rel="stylesheet">
<link type="text/css" href="~/Content/assets/css/vendor-fontawesome-free.rtl.css" rel="stylesheet">



<!-- End Facebook Pixel Code -->
<!-- DateRangePicker -->
<link type="text/css" href="~/Content/assets/vendor/daterangepicker.css" rel="stylesheet">
<!-- Flatpickr -->
<link type="text/css" href="~/Content/assets/css/vendor-flatpickr.css" rel="stylesheet">
<link type="text/css" href="~/Content/assets/css/vendor-flatpickr.rtl.css" rel="stylesheet">
<link type="text/css" href="~/Content/assets/css/vendor-flatpickr-airbnb.css" rel="stylesheet">
<link type="text/css" href="~/Content/assets/css/vendor-flatpickr-airbnb.rtl.css" rel="stylesheet">
<!-- Vector Maps -->
<link type="text/css" href="~/Content/assets/vendor/jqvmap/jqvmap.min.css" rel="stylesheet">
<!-- Datatables -->
<link type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">

<!--Toastr-->
<link type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

<link href="~/Content/appcontent/assets/vendor/select2/css/select2.css" rel="stylesheet">

@if (ViewBag.Title == "Distribuidora Limeña - Product Catalog")

{

    <link rel="stylesheet" href="~/Content/appcontent/assets/vendor/data-tables/datatables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css">

}


@if (ViewBag.Title == "Distribuidora Limeña - New Purchase Data" || ViewBag.Title == "Distribuidora Limeña - Edit Purchase Data")
{
    <link rel="stylesheet" href="~/Content/appcontent/assets/css/fixedColumns.dataTables.css">
    <link rel="stylesheet" href="~/Content/appcontent/assets/vendor/contextmeu/jquery.contextMenu.css">

}