
@{
    Layout = null;
    LimenawebApp.Models.Sys_Users user = (LimenawebApp.Models.Sys_Users)ViewBag.activeuser;
}


<div class="mdk-drawer  js-mdk-drawer" id="default-drawer" data-align="end">
    <div class="mdk-drawer__content">
        <div class="sidebar sidebar-light sidebar-left simplebar" data-simplebar>
            <div class="d-flex align-items-center sidebar-p-a border-bottom sidebar-account">
                <a href="#" class="flex d-flex align-items-center text-underline-0 text-body">
                    <span class="avatar mr-3">
                        <img src="~/Content/assets/images/fondolimena1.jpg" alt="avatar" class="avatar-img rounded-circle">
                    </span>
                    <span class="flex d-flex flex-column">
                        <strong>@user.Name  @user.Lastname</strong>
                        <small class="text-muted text-uppercase">@user.Departments</small>
                    </span>
                </a>

            </div>

            <div class="sidebar-p-a">
                <a href="#" class="btn btn-outline-primary btn-block">Log out</a>
            </div>
        </div>
    </div>
</div>