
@{
    Layout = null;
}

<script>

    (function ($) {
        'use strict';
        $('#modal-large').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);// Button that triggered the modal
            $("#myTablecustomers").DataTable().rows().remove().draw();
         
            var iddelivery = button.data('route');
            document.getElementById("loadertable").style.display = "block";
            document.getElementById("alerttable").style.display = "none !important";
            $.ajax
                ({
                    url: '/Payments/Get_CustomersRoute',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        iddelivery: iddelivery
                    }),
                    success: function (result) {
                        if (result.error == "Error") {
                           
                            document.getElementById("loadertable").style.display = "none";
                            document.getElementById("alerttable").style.display = "block";
                        } else {
                            var lstdetails = result.details;
                            $.each(lstdetails, function (i, customer) {
                  

                                var newRowContent = '';
                                newRowContent += '<tr>';
                                //1st col
                                newRowContent += '<td > <div class="d-flex align-items-center"><div class="d-flex align-items-center"><i class="material-icons icon-16pt mr-1 text-primary">store</i><a href="#" href="#" data-toggle="modal" data-target="#modalPayIndividual" data-idcustomer="' + customer.CardCode +'">' + customer.CardCode + " - " + customer.CardName + '</a ></div></div>';
                                newRowContent += '<div class="d-flex align-items-center"><small class="text-muted"><i class="material-icons icon-16pt mr-1">pin_drop</i>' + customer.SlpName + '</small></div></td>';
                                //2nd col
                                newRowContent += '<td class="text-right"><strong>$' + parseFloat(customer.TotalAmount).toFixed(2) + '</strong></td>';
                                newRowContent += '<td class="text-right"><strong>$' + parseFloat(customer.TotalReturns).toFixed(2) + '</strong></td>';
                                newRowContent += '<td class="text-right"><strong>$' + parseFloat(customer.TotalIncomingPayments).toFixed(2) + '</strong></td>';
                                newRowContent += '<td class="text-right"><strong>$' + parseFloat(customer.TotalAR_paid).toFixed(2) + '</strong></td>';
                                if (customer.OrdersC > 0) {
                                    newRowContent += '<td><div class="badge badge-warning ml-2">' + "Undelivered" + '</div></td>';
                                }
                                else {

                                    if (customer.OrdersF > 0 && customer.OrdersP == 0) {
                                        newRowContent += '<td><div class="badge badge-warning ml-2">' + "Waiting payment" + '</div></td>';
                              
                                    }
                                    else if (customer.OrdersF > 0 && customer.OrdersP > 0) {
                                        newRowContent += '<td><div class="badge badge-info ml-2">' + "In Transit" + '</div></td>';
                                    }
                                    else if (customer.OrdersF == 0 && customer.OrdersP > 0) {
                                        newRowContent += '<td><div class="badge badge-info ml-2">' + "In Transit" + '</div></td>';
                                    }
                                }
                                
                                newRowContent += '<td><a href="#" data-toggle="modal" data-target="#modalPayIndividual" data-idcustomer="' + customer.CardCode +'" class="btn btn-sm btn-link"><i class="material-icons icon-16pt">arrow_forward</i></a> </td>';

                                newRowContent += ' </tr>';

                                $("#myTablecustomers").DataTable().row.add($(newRowContent).get(0)).draw();

                            });
                            document.getElementById("loadertable").style.display = "none";
                       
                        }
                    },
                    error: function () {
                        alert("Whooaaa! Something went wrong..")
                        document.getElementById("loadertable").style.display = "none";
                    },

                });
        })
    })(jQuery);


    (function ($) {
        'use strict';
        $('#modalPayIndividual').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);// Button that triggered the modal
            $("#divCreditsproduct").html('');

            var idcustomer = button.data('idcustomer');
            //document.getElementById("loadertable").style.display = "block";
            //document.getElementById("alerttable").style.display = "none !important";
            $.ajax
                ({
                    url: '/Payments/Get_CustomersRoutePayments',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        idcustomer: idcustomer
                    }),
                    success: function (result) {
                        if (result.error == "Error") {


                        } else {
                            var lstdetails = result.details;
                            console.log(lstdetails);
                        
                            let paymentstype = [
                                {
                                    "id": "1",
                                    "text": "CASH",
                                },
                                {
                                    "id": "2",
                                    "text": "CHECK",
                                },
                                {
                                    "id": "3",
                                    "text": "MONEY ORDER",
                                },
                                {
                                    "id": "4",
                                    "text": "CREDIT CARD",
                                },
                                {
                                    "id": "5",
                                    "text": "ACH",
                                },
                                {
                                    "id": "6",
                                    "text": "WIRE",
                                }
                            ];
                            $.each(paymentstype, function (i, paymenttype) {
                                var newRowContent = '';
                                newRowContent += '<p class="text-dark-gray d-flex align-items-center mt-3">';
                                newRowContent += ' <i class="material-icons icon-muted mr-2">payments</i>';
                                newRowContent += '<strong>' + paymenttype.text + '</strong>';
                                newRowContent += ' </p>';

                                $("#divCreditsproduct").append(newRowContent);
                                $.each(lstdetails, function (i, payments) {
                                    newRowContent = "";
                                    if (payments.paymentType == paymenttype.id) {
                                        //totalproductsshowing += 1;
                                        newRowContent += '<div class="row align-items-center projects-item mb-1">';
                                        newRowContent += '<div class="col-sm">';
                                        newRowContent += '<div class="card m-0">';
                                        newRowContent += '<div class="px-4 py-3">';
                                        newRowContent += '<div class="row align-items-center">';
                                        newRowContent += ' <div class="col" style="min-width: 300px">';
                                        newRowContent += '<div class="d-flex align-items-center">';
                                        newRowContent += '<a href="#" class="text-body"><strong class="text-15pt mr-2"> #' + payments.docNumInv  + '</strong></a>';
                                        newRowContent += '</div>';
                                        newRowContent += '<div class="d-flex align-items-center">';
                                        newRowContent += '<small class="mr-2">Amount: $' + parseFloat(payments.docTotalInv).toFixed(2) + '</small>';
                                        newRowContent += '<small class="mr-2">Returns: - $' + parseFloat(payments.remarks).toFixed(2) + '</small>';
                                        newRowContent += '<small class="mr-2">Total to receive: $' + parseFloat(payments.sumApplied).toFixed(2) + '</small>';
                                        newRowContent += '<small class="mr-2">Invoice type: ' + payments.invoiceType + '</small>';

                                        newRowContent += '<a class="btn btn-success" href="#" onclick="convertDraft(' + payments.docEntry + ', ' + payments.docEntryInv + ')">Submit</a >';
                                        //newRowContent += '<a class="badge" data-toggle="collapse" href="#collapsediv_' + payments.docEntry + '" role="button" aria-expanded="false" aria-controls="collapseExample">More options</a >';
                                        //newRowContent += '</div>';
                                        //More options
                                        newRowContent += '<div class="collapse" id="collapsediv_' + payments.docEntry + '"><div style="margin-top:10px;" class="row"><div class="col-md-8">';

                                        newRowContent += '</div>';
                                        newRowContent += '</div> </div>';
                                        newRowContent += '</div>';
                                         //****
                                        newRowContent += '<div class="col-auto d-flex align-items-center" style="min-width: 140px;">';
                                        //newRowContent += '<div class="custom-control custom-checkbox-toggle custom-control-inline mr-1">';
                                        //if (products.received == true) { newRowContent += '<input onchange="checkCredit(this.id)" checked=""  type="checkbox" id="' + products.itemCode + 'chk_' + products.docEntry + '" data-itemcode="' + products.itemCode + '" data-description="' + products.itemName + '" data-qty="' + products.quantity + '" data-price="' + parseFloat(products.unitPrice).toFixed(2) + '" data-baseline="' + products.baseLine + '" data-linenum="' + products.lineNum + '" data-uom="' + products.uomEntry + '" data-docent="' + docentry + '" data-returnreason="' + products.returnReasonCode + '" data-visorder="' + products.visOrder + '" class="custom-control-input checkboxesindiv">'; }
                                        //else {
                                        //    newRowContent += '<input type="checkbox" onchange="checkCredit(this.id)" id="' + products.itemCode + 'chk_' + products.docEntry + '"  data-itemcode="' + products.itemCode + '" data-description="' + products.itemName + '" data-qty="' + products.quantity + '" data-price="' + parseFloat(products.unitPrice).toFixed(2) + '" data-baseline="' + products.baseLine + '" data-linenum="' + products.lineNum + '" data-uom="' + products.uomEntry + '" data-docent="' + docentry + '" data-returnreason="' + products.returnReasonCode + '" data-visorder="' + products.visOrder + '" class="custom-control-input checkboxesindiv">';
                                        //    flagcheck = 0;
                                        //}

                                        //newRowContent += '<label class="custom-control-label" for="' + products.itemCode + 'chk_' + products.docEntry + '"></label>';
                                        //newRowContent += ' </div>';
                                        newRowContent += '</div></div></div></div></div></div>';
                                        $("#divCreditsproduct").append(newRowContent);
                                    }


                                });

                             

                            });

                        }
                    },
                    error: function () {
                        alert("Whooaaa! Something went wrong..")
                        document.getElementById("loadertable").style.display = "none";
                    },

                });
        })
    })(jQuery);


    function evaluatecheck(entry, docentryINV) {

        Swal.fire({
            title: 'Waiting for funds',
            text: "Click on the button status you want to assign to this payment.",
            icon: 'warning',
            showCancelButton: true,

            confirmButtonText: 'Validate',
            cancelButtonText: 'Insufficient funds'
        }).then((result) => {
            if (result.value == true) {

                var docentry = entry;
                var docnuminv = docentryINV;

                $.ajax
                    ({
                        url: '/Payments/Validate_payment',
                        type: 'POST',
                        datatype: 'application/json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            docentry: docentry,
                            docentryinvoice: docnuminv,
                            status: 2
                        }),
                        success: function (result) {
                            if (result == "SUCCESS") {

                                Swal.fire(
                                    'Payment validated',
                                    'Payment was successfully validated.',
                                    'success'
                                )


                                window.location.reload(true);
                            } else {
                                alert("Payment was not validated");
                            }

                        },
                        error: function () {
                            alert("Whooaaa! Something went wrong..")
                        },
                    });



            } else if (result.value == false) {

                var docentry = entry;
                var docnuminv = docentryINV;

                $.ajax
                    ({
                        url: '/Payments/Validate_payment',
                        type: 'POST',
                        datatype: 'application/json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            docentry: docentry,
                            docentryinvoice: docnuminv,
                            status: 3
                        }),
                        success: function (result) {
                            if (result == "SUCCESS") {

                                Swal.fire(
                                    'Payment canceled',
                                    'Payment was successfully canceled.',
                                    'warning'
                                )

                                window.location.reload(true);
                            } else {
                                alert("Payment was not canceled");
                            }

                        },
                        error: function () {
                            alert("Whooaaa! Something went wrong..")
                        },
                    });


            } else {

            }
        })


    };

    function convertDraft(entry, docnum) {


        Swal.fire({
            title: 'Are you sure to submit this Payment?',
            text: "You won't be able to revert this.",
            icon: 'warning',
            showCancelButton: true,

            confirmButtonText: 'Yes, submit it',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.value) {

                var docentry = entry;
                var docnuminv = docnum;

                $.ajax
                    ({
                        url: '/Payments/Transform_payment',
                        type: 'POST',
                        datatype: 'application/json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            docentry: docentry,
                            docentryinvoice: docnuminv
                        }),
                        success: function (result) {
                            if (result == "SUCCESS") {

                                Swal.fire(
                                    'Payment submited',
                                    'Payment was successfully submited.',
                                    'success'
                                )
                                
                                $('#modalPayIndividual').modal('hide')
                                //window.location.reload(true);
                            } else {
                                alert("Payment was not submited");
                            }

                        },
                        error: function () {
                            alert("Whooaaa! Something went wrong..")
                        },
                    });


            }
        })

    }


    window.onload = function () {





        $(document).on('hidden.bs.modal', '.modal', function () {
            $('.modal:visible').length && $(document.body).addClass('modal-open');
        });

        var table = $('#myTablecustomers').DataTable({
            dom: 'rtip'
        });

        // #myInput is a <input type="text"> element
        $('#filter_customerstb').on('keyup', function () {
            table.search(this.value).draw();
        });

        $('#filter_date').on('change', function () {

            var st = new Date($('#filter_date').data('daterangepicker').startDate);
            var ed = new Date($('#filter_date').data('daterangepicker').endDate);


            var today = st;
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!

            var yyyy = today.getFullYear();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            st = mm + '/' + dd + '/' + yyyy;

            var today2 = ed;
            var dd2 = today2.getDate();
            var mm2 = today2.getMonth() + 1; //January is 0!

            var yyyy2 = today2.getFullYear();
            if (dd2 < 10) {
                dd2 = '0' + dd2;
            }
            if (mm2 < 10) {
                mm2 = '0' + mm2;
            }
            ed = mm2 + '/' + dd2 + '/' + yyyy2;




            var tipo_actividad = $('#filter_type').val();
            var prioridad = $('#filter_prioridad').val();

            var url = '@Url.Action("ReceivedPayment", "Payments", new { fstartd = "START", fendd = "FINISH"})';


            url = url.replace('START', st);
            url = url.replace('FINISH', ed);
            var newurl = url;

            newurl = newurl.replace(/&amp;/g, "&");
            window.location.href = newurl;

        });


        $(document).ready(function () {

            $("#filter_name").keyup(function (e) {
                var txt = $(this).val();

                $('.rowcustom').each(function () {
                    if ($(this).text().toUpperCase().indexOf(txt.toUpperCase()) != -1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });

            });
        });
    }



</script>